<template>
	<div class="ui segment">
		<div class="ui left aligned grid row">

			<div v-bind:class="{ 'active': requestState == false }" class="ui dimmer">
				<div class="ui indeterminate text loader">Fetching data</div>
			</div>

			<div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px">
				{{serverName}} | MAJ
			</div>
			<div class="row">
				<div class=""></div>
				<button class="ui purple button" style="font-size: 0.8em; margin-left: 20px" id="osdetail" @click="OSspecification()">OS SPECIFICATION</button>
			</div>
			<div class="fourteen wide column" style="padding-bottom: 20px; border-radius: 0px; border-bottom: 1px solid #ccc; max-height: 800px; overflow-y: auto">
				<div class="ui top attached tabular menu">
					<a class="item active" data-tab="installed">repositories installed ({{repositories_installed.length}})</a>
					<a class="item" data-tab="available">repositories available ({{repositories_available.length}})</a>
				</div>
				<div class="ui bottom attached tab segment active" data-tab="installed">
					<div class="ui middle aligned divided list" v-if="repositories_installed.length > 0">
						<div class="item" v-for="(repo_installed, index) in repositories_installed" v-bind:class=" { 'target_color': select_installed[index].targeted }" @click="target_installed(index)">
							<i class="ui avatar user icon"></i>
							<div class="content">
								<a class="header">{{repo_installed.id + "	| v. : " + repo_installed.version}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="ui bottom attached tab segment" data-tab="available">
					<div class="ui middle aligned divided list" v-if="repo_available_filter.length > 0">

						<button class="ui blue button" style="font-size: 0.8em; margin-bottom: 10px" id="leftavailable" @click="leftdiravailable()"><</button>
						<button class="ui blue button" style="font-size: 0.8em; margin-bottom: 10px" id="rightavailable" @click="rightdiravailable()">></button>
						<div class="item" v-for="(repo_available, index) in repo_available_filter">
							<i class="folder icon" ></i>
							<div class="content">
								<a class="header">{{repo_available.id + "	| v. : " + repo_available.version}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="two wide column" style="border-radius: 0px; border-left: 1px solid #ccc; padding-bottom: 30px">
				<div style="margin-top: 30%;">
					<div class="row">
						<button class="ui green button large" @click="addRepo()" style="width: 100%; font-size: 0.8em">Install</button>
					</div>
					<div class="row">
						<button class="ui red button" style="width: 100%; font-size: 0.8em" @click="uninstall_package()" :class="{ 'disabled': current_tab != 0 }">Uninstall</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import Vuex from 'vuex'
	import store from '../../store'

	export default {

		name: 'MAJ',

		data () {
			return {
				requestState: false,

				/* 0 = installed / 1 = available */
				current_tab: 0,
				id_target_installed: -1,
				repositories_installed: [],
				repositories_available: [],
				select_installed: [],
				repo_available_filter: [],
				idx: 0
			};
		},

		mounted: function() {
			var _this = this;

			$('.menu .item').tab();
			$('.menu .item').tab({'onVisible':function(tabPath){ tabPath == 'installed' ? _this.current_tab = 0 : _this.current_tab = 1;}});

			this.getInfo();
		},

		methods: {
			target_installed: function(index) {
				if (this.id_target_installed == -1) {
					this.select_installed[index].targeted = true;
					this.id_target_installed = index;
				} else {
					this.select_installed[this.id_target_installed].targeted = false;
					this.select_installed[index].targeted = true;
					this.id_target_installed = index;
				};
			},

			addRepo: function() {
				this.$router.push({ name: 'maj.addrepo' });
			},

			uninstall_package: function() {
				if (this.id_target_installed == -1) {
					let toast = this.$toasted.info("<div class=\"ui grid\" style=\"max-height: 800px; overflow-y: auto\"><div class=\"row\"><div class=\"column\" style=\"margin-top: 3px; text-decoration: underline;\"><h3>" + "Oops..." + "</h3></div></div><div class=\"center aligned row\"><div class=\"fourteen wide column centered\" style=\"margin-bottom: 3px; font-style: italic;\">" + "You have to select any repository before trying to uninstall it !" + "</div></div></div>", {
						theme: "bubble",
						position: "top-right", 
						duration : null,
						icon : { name : 'info'},
						action : [
						{icon : 'clear',
						onClick : (e) => {
							toast.goAway(0);
						}
					}],
					containerClass: 'customeContainer',
					className: 'customeClassInfo'
				});
					store.dispatch('addNotif', {"method": "info", "title": "Oops...", "content": "You have to select any repository before trying to uninstall it !".replace(/<br>/g, ""), "checked": false});
				} else {
					this.requestState = false;
					this.$http.post('update/package/remove', {"ip": this.get_servers[this.$route.params.id].ip, "package_id": this.repositories_installed[this.id_target_installed].id } ).then((response) => {
						console.log(response);
						this.requestState = true;
					},
					(response) => {
						this.requestState = true;
						console.log("error getInfo - ", response);
					});
				}

			},

			leftdiravailable: function() {
				if (this.idx - 400 >= 0) {
					this.idx -= 400;
					this.repo_available_filter = this.repositories_available.slice(this.idx, this.idx + 400);

					if ($('#rightavailable').hasClass('disabled'))
						$('#rightavailable').toggleClass('disabled');
				} else {
					if (!$('#leftavailable').hasClass('disabled'))
						$('#leftavailable').toggleClass('disabled');
				}
			},

			rightdiravailable: function() {
				if (this.idx + 400 <= this.repositories_available.length) {
					this.idx += 400;
					this.repo_available_filter = this.repositories_available.slice(this.idx, this.idx + 400 >= this.repositories_available.length ? this.idx + (this.repositories_available.length - 1 - this.idx) : this.idx + 400);

					if ($('#leftavailable').hasClass('disabled'))
						$('#leftavailable').toggleClass('disabled');
				} else {
					if (!$('#rightavailable').hasClass('disabled'))
						$('#rightavailable').toggleClass('disabled');
				}

			},

			getInfo: function() {
				this.requestState = false;

				this.$http.post('update/package/installed', {"ip": this.get_servers[this.$route.params.id].ip},  {"timeout": 0 } ).then((response) => {
					console.log(response);
					this.repositories_installed = response.body.response;
					for (var i = 0; i < response.body.response.length; i++) {
						this.select_installed.push( {"targeted" : false});
					}
				},
				(response) => {
					console.log("error getInfo - ", response);
				});

				this.$http.post('update/package/available', {"ip": this.get_servers[this.$route.params.id].ip}, {"timeout": 0 } ).then((response) => {
					console.log(response);
					this.repositories_available = response.body.response;
					this.repo_available_filter = this.repositories_available.slice(this.idx, this.idx + 400);
					this.requestState = true;
				},
				(response) => {
					console.log("error getInfo - ", response);
				});

				$('#leftavailable').toggleClass('disabled');
			},

			OSspecification: function() {
				$('#osdetail').toggleClass('loading').toggleClass('disabled');
				this.$http.post('update/os').then((response) => {
					console.log(response);
					$('#osdetail').toggleClass('loading').toggleClass('disabled');
				},
				(response) => {
					console.log("error OSspecification - ", response);
					$('#osdetail').toggleClass('loading').toggleClass('disabled');
				});
			}
		},

		computed: {
			...Vuex.mapGetters(['get_servers']),

			serverName: function() {
				this.get_servers[this.$route.params.id].hostname;
				return this.get_servers[this.$route.params.id].hostname;
			},
		}
	};
</script>

<style lang="css" scoped>
	.target_color {
		background-color: rgba(192,192,192, 0.5);
	}
</style>
