<template>
	<div class="ui segment">
		<div class="ui two column stackable centered grid container">
			<div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px">
				Install new package - {{OS}}
			</div>

			<form v-on:submit.stop.prevent="" class="ui form column" v-bind:class="{ 'loading': loading }" id="addnewrepoupdate" style="padding-bottom: 50px">

				<div class="ui stacked secondary">
					<div class="required field">
						<label style="text-align: left">Package ID</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="repo_id" id="repo_id" v-model="repo_id" placeholder="Package ID">
						</div>
					</div>
					<div class="required field" v-if="OS === 'Debian'">
						<label style="text-align: left">Package Distribution</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="repos_distrib" id="repos_distrib" v-model="repos_distrib" placeholder="Package Distribution">
						</div>
					</div>
					<div class="required field" v-if="OS === 'Debian'">
						<label style="text-align: left">Package Composants</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="repo_compo" id="repo_compo" v-model="repo_compo" placeholder="Package composants">
						</div>
					</div>
					<div class="required field" v-if="OS === 'OpenSUSE'">
						<label style="text-align: left">Package alias</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="repo_alias" id="repo_alias" v-model="repo_alias" placeholder="Package alias">
						</div>
					</div>
				</div>

				<div class="ui grid" style="padding-top: 30px;">
					<div class="six column row">
						<div class="column"></div>
						<button class="ui green button" @click="">Start installation</button>
						<div class="column"></div>
						<div class="column"></div>
						<router-link class="ui red button" :to="{name: 'maj'}">Cancel</router-link>
						<div class="column"></div>
					</div>
				</div>
				<div class="ui error message"></div>
			</form>

		</div>
	</div>
</template>


<script>

	import Vuex from 'vuex'
	import store from '../../store'

	export default {

		name: 'MAJ_addmirror',

		data () {
			return {
				loading: false,
				repo_id_form: {
					rules: [
					{type   : 'empty', // A APPROFONDIR
					prompt: 'Veuillez remplir correctement le champs {name}'}
					]
				},
				repo_distrib_form: {
					rules: [
					{type   : 'empty', // A APPROFONDIR
					prompt: 'Veuillez remplir correctement le champs {name}'}
					]
				},
				repo_compo_form: {
					rules: [
					{type   : 'empty', // A APPROFONDIR
					prompt: 'Veuillez remplir correctement le champs {name}'}
					]
				},
				repo_alias_form: {
					rules: [
					{type   : 'empty', // A APPROFONDIR
					prompt: 'Veuillez remplir correctement le champs {name}'}
					]
				},
				repo_id: "",
				repos_distrib: "",
				repo_compo: "",
				repo_alias: "",
				OS: "undefined",
				OS_CENTOS : { "repo_id" : this.repo_id_form },
				OS_DEBIAN : { "repo_id" : this.repo_id_form, "repos_distrib": this.repo_distrib_form, "repo_compo": this.repo_compo_form},
				OS_OPENSUSE : { "repo_id" : this.repo_id_form, "repo_alias": this.repo_alias_form }

			};
		},

		methods: {

			initForm() {
				let _this = this;
				
				this.$nextTick( () => {
					$('#addnewrepoupdate').form('destroy');

					var fields = {
						fields: {
							repo_id : this.repo_id_form
						},
						onSuccess(event, field) {
							event.preventDefault();
							_this.addRepo();
						}
					};
					
					if (this.OS == "Debian") {
						fields.fields['repos_distrib'] = this.repo_distrib_form;
						fields.fields['repo_compo'] = this.repo_compo_form;
					}
					else if (this.OS == "OpenSUSE")
						fields.fields['repo_alias'] = this.repo_alias_form;
					
					
					$('#addnewrepoupdate').form(fields);
				})
			},

			getOS(callback) {
				$('#addnewrepoupdate').toggleClass('loading').toggleClass('disabled');
				this.$http.post('update/os').then((response) => {
					console.log(response);
					this.OS = response.body.response.OS;
					$('#addnewrepoupdate').toggleClass('loading').toggleClass('disabled');
					callback();
				},
				(response) => {
					console.log("error OSspecification - ", response);
					$('#addnewrepoupdate').toggleClass('loading').toggleClass('disabled');
				});
			},

			addRepo() {

				this.loading = true;

				let req = { "ip": this.get_servers[this.$route.params.id].ip, "package_id" : this.repo_id };

				if (this.OS == "Debian") {
					req['distrib'] = this.repos_distrib;
					req['compo'] = this.repo_compo;
				} else if (this.OS == "OpenSUSE") {
					req['alias'] = this.repo_alias;
				}

console.log(req);
				this.$http.post('update/package/install', req ).then((response) => {
					this.loading = false;
					//this.$router.push({ name: 'maj' });
					console.log(response);
				},
				(response) => {
					console.log("error addRepo - ", response);
					this.loading = false;
				});
			}

		},

		computed: {
			...Vuex.mapGetters(['get_servers']),

		},

		mounted: function() {
			this.getOS(this.initForm);
		}
	};
</script>

<style lang="css" scoped>

	.custom_form {
		padding-bottom: 0px;
		padding-top: 0px;
		margin: 0 0 .28571429rem;
		font-size: .92857143em;
		font-weight: 700
	}
	.bounce-enter-active {
		animation: bounce-in .4s;
	}
	.bounce-leave-active {
		animation: bounce-out .4s;
	}
	@keyframes bounce-in {
		0% {
			transform: scale(0);
		}
		50% {
			transform: scale(1.2);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes bounce-out {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.2);
		}
		100% {
			transform: scale(0);
		}
	}
</style>
