<template>
	<div class="ui segment">
		<div class="ui two column stackable centered grid container">
			<div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px">
				Nouveau Pool
			</div>

			<form v-on:submit.stop.prevent="" class="ui form column" v-bind:class="{ 'loading': loading }" id="addnewpoolproxy" style="padding-bottom: 50px">

				<div class="ui stacked secondary">
					<div class="required field">
						<label style="text-align: left">Adresse IP du pool</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="ipaddresszone" id="ipaddress" v-model="ipaddress" placeholder="IP address">
						</div>
					</div>
					<div class="required field">
						<label style="text-align: left">Nom du pool</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="pool_name" id="pool_name" v-model="pool_name" placeholder="Nom du pool">
						</div>
					</div>
					<div class="required field">
						<label style="text-align: left">Mode</label>
						<select class="ui fluid search dropdown" tabindex="0" name="pool_mode" id="pool_mode" v-model="pool_mode">
							<option value="tcp">tcp</option>
							<option value="http">http</option>
							<option value="health">health</option>
						</select>
					</div>
					<div class="required field" v-if="this.pool_mode == 'http'">
						<label style="text-align: left">Options</label>
						<select class="ui fluid search dropdown" tabindex="0" name="pool_option" id="pool_option" v-model="pool_option">
							<option value="http-keep-alive">http-keep-alive</option>
							<option value="http-tunnel">http-tunnel</option>
							<option value="httpclose">httpclose</option>
							<option value="http-server-close">http-server-close</option>
							<option value="forceclose">forceclose</option>
						</select>
					</div>
					<div class="required field">
						<label style="text-align: left">Algorithme de distribution de charge</label>
						<select class="ui fluid search dropdown" tabindex="0" name="pool_algo" id="pool_algo" v-model="pool_algo">
							<option value="roundrobin">roundrobin</option>
							<option value="static-rr">static-rr</option>
							<option value="leastconn">leastconn</option>
							<option value="source">source</option>
							<option value="uri">uri</option>
						</select>
					</div>
				</div>

				<div class="ui grid" style="padding-top: 30px;">
					<div class="six column row">
						<div class="column"></div>
						<button class="ui green button" @click="">Save changes</button>
						<div class="column"></div>
						<div class="column"></div>
						<router-link class="ui red button" :to="{name: 'proxy'}">Cancel</router-link>
						<div class="column"></div>
					</div>
				</div>
				<div class="ui error message"></div>
			</form>

		</div>
	</div>
</template>


<script>

	import Vuex from 'vuex'
	import store from '../../store'

	export default {

		name: 'Proxy_addpool',

		data () {
			return {
				loading: false,
				'ipaddress_form': {
					rules: [
            {
              type: 'regExp[^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(:[0-9]{1,5})?$]', // A APPROFONDIR
					    prompt: 'Veuillez remplir correctement le champs {name}'
            }
          ]
				},
				'pool_name_form': {
          rules: [{type   : 'empty', // A APPROFONDIR
					prompt: 'Veuillez remplir correctement le champs {name}'}]
				},
				ipaddress: "",
				pool_name: "",
				pool_mode: "",
				pool_algo: "",
				pool_option: ""
			};
		},

		methods: {

			initForm() {
				$('#addnewpoolproxy').form('destroy');
				let _this = this;

				$('#pool_mode').dropdown();
				$('#pool_mode').dropdown('set value', "tcp");

				$('#pool_option').dropdown();
				$('#pool_option').dropdown('set value', "http-keep-alive");

				$('#pool_algo').dropdown();
				$('#pool_algo').dropdown('set value', "roundrobin");

				var fields = {
					fields: {
						ipaddress: this.ipaddress_form,
						pool_name: this.pool_name_form,
						pool_algo: {
	            rules: [{ type   : 'empty', // A APPROFONDIR
	            prompt : 'Please select a correct {name}'}]
	          },
						pool_mode: {
	            rules: [{ type   : 'empty', // A APPROFONDIR
	            prompt : 'Please select a correct {name}'}]
	          },
						pool_option: {
	            rules: [{ type   : 'empty', // A APPROFONDIR
	            prompt : 'Please select a correct {name}'}]
	          }
					},

					onSuccess(event, field) {
						event.preventDefault();
						_this.addPool();
					}

				};
				$('#addnewpoolproxy').form(fields);
			},

			addPool() {
				this.loading = true;
        let pool_info = {
          "name": this.pool_name,
          "proxy": "listen",
          "ip": this.ipaddress,
          "mode": this.pool_mode,
					"balance": this.pool_algo,
          "option": [/*
              "httpchk",
              "forwardfor",*/
          ]
        };
				if (this.pool_mode == 'http') {
					pool_info.option = [this.pool_option];
				}
				this.$http.post('proxy/pools/add', {"ip": this.get_servers[this.$route.params.id].ip, "pool_info": pool_info} ).then((response) => {
					this.loading = false;
					this.$router.push({ name: 'proxy' });
					console.log(response);
				},
				(response) => {
					console.log("error addPool - ", response);
					this.loading = false;
				});
			}

		},

		computed: {
			...Vuex.mapGetters(['get_servers'])
		},

		mounted: function() {
			this.initForm();

		}
	};
</script>

<style lang="css" scoped>

	.custom_form {
		padding-bottom: 0px;
		padding-top: 0px;
		margin: 0 0 .28571429rem;
		font-size: .92857143em;
		font-weight: 700
	}
	.bounce-enter-active {
		animation: bounce-in .4s;
	}
	.bounce-leave-active {
		animation: bounce-out .4s;
	}
	@keyframes bounce-in {
		0% {
			transform: scale(0);
		}
		50% {
			transform: scale(1.2);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes bounce-out {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.2);
		}
		100% {
			transform: scale(0);
		}
	}
</style>
