<template>
	<div class="ui segment">
		<div class="ui left aligned grid row">
			<div v-bind:class="{ 'active': requestState == false }" class="ui dimmer">
				<div class="ui indeterminate text loader">Fetching data</div>
			</div>

			<div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px">
				{{serverName}} | TICKETING
			</div>
		</div>
		<a class="ui green button middle aligned" :href="serviceUrl"><h3 style="margin: 1rem;">Accèder à l'IHM du service Ticketing</h3></a>
		<h4 class="ui horizontal divider header" style="padding-top: 30px; padding-bottom: 50px">
			<i class="tasks icon"></i>
			Configuration de la base de données
		</h4>
		<form v-on:submit.stop.prevent="" class="ui form two column grid" v-bind:class="{ 'loading': loading }"
		id="bdd_config" style="padding-bottom: 50px">
		<div class="column">
			<div class="ui grid">
				<div class="twelve wide centered column">
					<div class="ui stacked secondary" style="padding-bottom: 30px">
						<div class="required field">
							<label style="text-align: left">Hostname</label>
							<div class="ui left icon input">
								<i class="home icon"></i>
								<input type="text" name="bdd_hostname" id="bdd_hostname" v-model="bdd_hostname" placeholder="Hostname">
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left">Nom de la base de donnée</label>
							<div class="ui left icon input">
								<i class="user icon"></i>
								<input type="text" name="bdd_name" id="bdd_name" v-model="bdd_name" placeholder="Nom de la base de donnée">
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left">Utilisateur de la base donnée</label>
							<div class="ui left icon input">
								<i class="home icon"></i>
								<input type="text" name="bdd_user" id="bdd_user" v-model="bdd_user" placeholder="Utilisateur de la base donnée">
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left">Mot de passe</label>
							<div class="ui left icon input">
								<i class="cube icon"></i>
								<input type="text" id="bdd_passwd" name="bdd_passwd" v-model="bdd_passwd" placeholder="Mot de passe">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui grid">
				<div class="twelve wide centered column">
					<div class="ui stacked secondary" style="padding-bottom: 30px">
						<div class="required field">
							<label style="text-align: left">Type de la base de donnée</label>
							<div class="ui left icon input">
								<i class="cube icon"></i>
								<input type="text" id="bdd_type" name="bdd_type" v-model="bdd_type" placeholder="Type de la base de donnée">
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left">Prefix des tables</label>
							<div class="ui left icon input">
								<i class="cube icon"></i>
								<input type="text" id="bdd_prefix" name="bdd_prefix" v-model="bdd_prefix" placeholder="Prefix des tables">
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left">Suffix des tables</label>
							<div class="ui left icon input">
								<i class="cube icon"></i>
								<input type="text" id="bdd_suffix" name="bdd_suffix" v-model="bdd_suffix" placeholder="Suffix des tables">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="centered column">
			<div class="ui error message"></div>
		</div>
		<h4 class="ui horizontal divider header" style="padding-bottom: 50px">
			<i class="tasks icon"></i>
			Configuration de l'email
		</h4>
		<div class="column">
			<div class="ui grid">
				<div class="twelve wide centered column">
					<div class="ui stacked secondary" style="padding-bottom: 30px">
						<div class="required field">
							<label style="text-align: left">Webmaster email</label>
							<div class="ui left icon input">
								<i class="home icon"></i>
								<input type="text" name="email_webmaster" id="email_webmaster" v-model="email_webmaster" placeholder="Webmaster email">
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left">Email du destinataire</label>
							<div class="ui left icon input">
								<i class="user icon"></i>
								<input type="text" name="email_from" id="email_from" v-model="email_from" placeholder="Email du destinataire">
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left">Nom du destinataire</label>
							<div class="ui left icon input">
								<i class="home icon"></i>
								<input type="text" name="email_fromname" id="email_fromname" v-model="email_fromname" placeholder="Nom du destinataire">
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left">Return path email</label>
							<div class="ui left icon input">
								<i class="cube icon"></i>
								<input type="text" id="email_return" name="email_return" v-model="email_return" placeholder="Return path email">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui grid">
				<div class="twelve wide centered column">
					<div class="ui stacked secondary" style="padding-bottom: 30px">
						<div class="required field">
							<label style="text-align: left">Email notification</label>
							<div class="ui left icon input">
								<i class="cube icon"></i>
								<select class="ui fluid search dropdown" tabindex="0" name="email_notif" id="email_notif" v-model="email_notif">
									<option value="ON">ON</option>
									<option value="OFF">OFF</option>
								</select>
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left">Notification verbose</label>
							<div class="ui left icon input">
								<i class="cube icon"></i>
								<select class="ui fluid search dropdown" tabindex="0" name="email_verb" id="email_verb" v-model="email_verb">
									<option value="ON">ON</option>
									<option value="OFF">OFF</option>
								</select>
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left">Email receive own</label>
							<div class="ui left icon input">
								<i class="cube icon"></i>
								<select class="ui fluid search dropdown" tabindex="0" name="email_recv" id="email_recv" v-model="email_recv">
									<option value="ON">ON</option>
									<option value="OFF">OFF</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="centered column">
			<div class="ui error message"></div>
		</div>
		<div class="centered column" style="margin-right: 10%">
			<div class="ui grid">
				<button class="ui green button" style="margin-right: 15px" v-on:click="save_config()">Save changes</button>
				<div class="ui icon inverted orange button" data-tooltip="You can edit any inputs, whether database configuration or email configuration. Please respect the format.">
					<i id="helpMark" class="large question icon animated infinite bounce"></i>
				</div>
				<router-link class="ui red button" :to="{name: 'ticketing'}" style="margin-left: 15px">Cancel</router-link>
			</div>
		</div>
	</form>
</div>
</template>

<script>

	import Vue from 'vue'
	import Vuex from 'vuex'
	import store from '../../store'

	export default {

		name: 'Ticketing',

		data () {
			return {
				url: "",
				bddconfig_name: {
					rules: [{ type   : 'empty',
					prompt : 'Veuillez remplir le champ "{name}"'}]
				},
				bddconfig_user: {
					rules: [{ type : 'empty',
					prompt: 'Veuillez remplir le champ "{name}"'}]
				},
				bddconfig_passwd: {
					rules: [{	type : 'empty',
					prompt: 'Veuillez remplir le champ "{name}"'}]
				},
				bddconfig_hostname: {
					rules: [{	type : 'empty',
					prompt: 'Veuillez remplir le champ "{name}"'}]
				},
				bddconfig_type: {
					rules: [{	type : 'empty',
					prompt: 'Veuillez remplir le champ "{name}"'}]
				},
				bddconfig_prefix: {
					rules: [{	type : 'empty',
					prompt: 'Veuillez remplir le champ "{name}"'}]
				},
				bddconfig_suffix: {
					rules: [{	type : 'empty',
					prompt: 'Veuillez remplir le champ "{name}"'}]
				},

				bdd_type: "",
				bdd_prefix: "",
				bdd_suffix: "",
				bdd_hostname: "",
				bdd_user: "",
				bdd_passwd: "",
				bdd_name: "",

				emailconfig_webmaster: {
					rules: [{ type   : 'empty',
					prompt : 'Veuillez remplir le champ "{name}"'}]
				},
				emailconfig_from: {
					rules: [{ type   : 'empty',
					prompt : 'Veuillez remplir le champ "{name}"'}]
				},
				emailconfig_fromname: {
					rules: [{ type   : 'empty',
					prompt : 'Veuillez remplir le champ "{name}"'}]
				},
				emailconfig_return: {
					rules: [{ type   : 'empty',
					prompt : 'Veuillez remplir le champ "{name}"'}]
				},

				email_webmaster: "",
				email_from: "",
				email_fromname: "",
				email_return: "",
				email_notif: "",
				email_verb: "",
				email_recv: "",
				requestState: false
			};
		},

		mounted: function() {
			this.initForm();
			this.getUrl();
			this.get_conf();
		},

		methods: {
			...Vuex.mapActions(['get_ticketing_conf', 'edit_ticketing_conf']),

			initForm() {
				let _this = this;

				$('#email_notif').dropdown();


				$('#email_verb').dropdown();


				$('#email_recv').dropdown();

			},

			getUrl() {
				this.requestState = false;
				this.url = "";
				this.$http.post('bugtracker/url', {"ip": this.get_servers[this.$route.params.id].ip } ).then((response) => {
					this.url = response.body.response.url;
					this.requestState = true;
				},
				(response) => {
					console.log("error getUrl bugtracker  - ", response);
					this.requestState = true;
				});
				return this.url;
			},

			bdd_config() {
				$('#bdd_config').form('destroy');
				let _this = this;

				var fields = {
					fields: {
						bdd_user: this.bddconfig_user,
						bdd_name: this.bddconfig_name,
						bdd_passwd: this.bddconfig_passwd,
						bdd_hostname: this.bddconfig_hostname,
						bdd_type: this.bddconfig_type,
						bdd_prefix: this.bddconfig_prefix,
						bdd_suffix: this.bddconfig_suffix,

						email_webmaster: this.emailconfig_webmaster,
						email_from: this.emailconfig_from,
						email_fromname: this.emailconfig_fromname,
						email_return: this.emailconfig_return,
					},

					onSuccess(event, field) {
						event.preventDefault();
						_this.save_config();
					}
				};
				$('#bdd_config').form(fields);
			},

			setValuesfromConfig() {
				this.bdd_user = this.get_servers[this.$route.params.id].ticketing_config["MantisBT Database Settings"].db_username;
				this.bdd_name = this.get_servers[this.$route.params.id].ticketing_config["MantisBT Database Settings"].database_name;
				this.bdd_passwd = this.get_servers[this.$route.params.id].ticketing_config["MantisBT Database Settings"].db_password;
				this.bdd_hostname = this.get_servers[this.$route.params.id].ticketing_config["MantisBT Database Settings"].hostname;
				this.bdd_type = this.get_servers[this.$route.params.id].ticketing_config["MantisBT Database Settings"].db_type;

				this.email_webmaster = this.get_servers[this.$route.params.id].ticketing_config["MantisBT Email Settings"].webmaster_email;
				this.email_from = this.get_servers[this.$route.params.id].ticketing_config["MantisBT Email Settings"].from_email;
				this.email_fromname = this.get_servers[this.$route.params.id].ticketing_config["MantisBT Email Settings"].from_name;
				this.email_return = this.get_servers[this.$route.params.id].ticketing_config["MantisBT Email Settings"].return_path_email;

				$('#email_notif').dropdown('set value', this.get_servers[this.$route.params.id].ticketing_config["MantisBT Email Settings"].enable_email_notification.toUpperCase());
				$('#email_verb').dropdown('set value', this.get_servers[this.$route.params.id].ticketing_config["MantisBT Email Settings"].email_notifications_verbose.toUpperCase());
				$('#email_recv').dropdown('set value', this.get_servers[this.$route.params.id].ticketing_config["MantisBT Email Settings"].email_receive_own.toUpperCase());
			},

			get_conf() {
				this.requestState = false;
				if (!this.get_servers[this.$route.params.id].hasOwnProperty('ticketing_config')) {
					console.log(this.get_servers[this.$route.params.id].ip);
					this.get_ticketing_conf(this.get_servers[this.$route.params.id]).then(response => {
						this.setValuesfromConfig();
						this.requestState = true;
					}, error => {
						console.log(error);
						this.requestState = true;
					});
				} else {
					this.setValuesfromConfig();
					this.requestState = true;
				}
			},

			save_config() {
				this.requestState = false;
				let new_conf= {
					'MantisBT Database Settings': {
						'database_name': this.bdd_name,
						'db_username': this.bdd_user,
						'db_password': this.bdd_passwd,
						'db_type': this.bdd_type,
						'hostname': this.bdd_hostname
					},
					'MantisBT Email Settings': {
						'webmaster_email': this.email_webmaster,
						'from_email': this.email_from,
						'from_name': this.email_fromname,
						'return_path_email': this.email_return,
						'enable_email_notification': this.email_notif,
						'email_notifications_verbose': this.email_verb,
						'email_receive_own': this.email_recv
					}
				};
				this.edit_ticketing_conf({'server': this.get_servers[this.$route.params.id], 'new_conf': new_conf}).then(response => {
					this.requestState = true;
				}, error => {
					console.log(error);
					this.requestState = true;
				});
			}
		},

		computed: {
			...Vuex.mapGetters(['get_servers']),

			serverName: function() {
				this.get_servers[this.$route.params.id].hostname;
				return this.get_servers[this.$route.params.id].hostname;
			},

			serviceUrl: function() {
				return this.url;
			}
		}

	};

</script>

<style lang="css" scoped>
	.target_color {
		background-color: rgba(192,192,192, 0.5);
	}
</style>
