<template>
	<div class="ui segment">
		<div class="ui left aligned grid row">
			<div v-bind:class="{ 'active': requestState == false }" class="ui dimmer">
				<div class="ui indeterminate text loader">Fetching data</div>
			</div>

      <div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px">
        {{serverName}} | INVENTORY
      </div>
    </div>
		<a class="ui green button middle aligned" :href="serviceUrl"><h3 style="margin: 1rem;">Accèder à l'IHM du service Inventaire</h3></a>

		<div class="ui left aligned">
			<div class="ui grid" style="padding-bottom: 20px; padding-top: 50px;">
				<div class="left aligned five wide column">
					<h2>Installation des agents</h2>
				</div>
			</div>
			<form v-on:submit.stop.prevent="installingAgent" v-bind:class="{ 'loading': loading }" class="ui form column" id="installAgent" style="padding-top: 10px; max-width: 600px;">
				<div class="ui stacked secondary segment">
					<div class="two fields">
						<div class="required field">
							<label style="text-align: left">IP address</label>
							<div class="ui left icon input">
								<i class="server icon"></i>
								<input type="text" name="ipaddress" id="ipaddress" v-model="ipaddress" placeholder="IP address">
							</div>
						</div>
						<div class="field" style="padding-top: 20px;">
							<button type="submit" class="ui fluid large teal button" id="confirm_add_agent">Install</button>
						</div>
					</div>
				</div>
				<div class="ui error message"></div>
			</form>
		</div>
		<div class="ui left aligned">
			<div class="ui grid" style="padding-bottom: 20px; padding-top: 50px;">
				<div class="left aligned five wide column">
					<h2>Liste des agents installés</h2>
				</div>
			</div>
			<table class="ui sortable celled table" id="tableZoneDns" style="margin-bottom: 50px">
				<thead>
					<tr>
						<th class="sorted descending">Adresse IP</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(zone, index) in agents_list">
						<td>{{ zone }}</td>
						<td><i class="big link trash outline icon " style="margin-left: 40%" @click="deleteAgent(index)"></i></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</tfoot>
			</table>

		</div>
	</div>
</template>

<script>

	import Vuex from 'vuex'
	import store from '../../store'

	export default {

		name: 'Inventory',

		data () {
			return {
				url: "",
				ipaddress: "",
				agents_list: [],
				requestState: false
			};
		},

    mounted: function() {
			this.getUrl();
			this.get_agents_list();

			$('#installAgent').form({
				fields: {
					ipaddress: {
						rules: [
							{
								type   : 'regExp[^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$]', // A APPROFONDIR
								prompt : 'Please type a correct {name}'
							}
						]
					},
				},
				onSuccess(event, field) {
					event.preventDefault();
				}
			})

    },

    methods: {
			...Vuex.mapActions(['get_agent_inventory', 'delete_inventoryAgent']),

			installingAgent() {
				if ($('#installAgent').form("is valid")) {
					$("#confirm_add_agent").toggleClass( "loading" );

					this.$http.post('inventory/agents/install', {"ip" : this.get_servers[this.$route.params.id].ip, "agent_ip": this.ipaddress} ).then((response) => {
						$("#confirm_add_agent").toggleClass( "loading" );
					},
					(response) => {
						console.log(response);
						$("#confirm_add_agent").toggleClass( "loading" );
						console.log("error add server");
					});
				}
			},

			getUrl() {
				this.requestState = false;
				this.url = "";
				this.$http.post('inventory/url', {"ip": this.get_servers[this.$route.params.id].ip } ).then((response) => {
					this.url = response.body.response.url;
					this.requestState = true;
				},
				(response) => {
					console.log("error getUrl bugtracker  - ", response);
					this.requestState = true;
				});
				return this.url;
			},

			setValuesfromList() {
				this.agents_list = this.get_servers[this.$route.params.id].inventory_agents;
			},

			get_agents_list() {
				this.requestState = false;
				if (!this.get_servers[this.$route.params.id].hasOwnProperty('inventory_agents')) {
					console.log(this.get_servers[this.$route.params.id].ip);
					this.get_agent_inventory(this.get_servers[this.$route.params.id]).then(response => {
						this.setValuesfromList();
						this.requestState = true;
					}, error => {
						console.log(error);
						this.requestState = true;
					});
				} else {
					this.requestState = true;
					this.setValuesfromList();
				}
			},

			deleteAgent(index) {
				this.requestState = false;

				this.delete_inventoryAgent({"server": this.get_servers[this.$route.params.id], "idx_agent": index}).then(response => {
					console.log(response);
					this.requestState = true;
				}, error => {
					this.requestState = true;
				});
			},
    },

    computed: {
      ...Vuex.mapGetters(['get_servers']),

      serverName: function() {
        this.get_servers[this.$route.params.id].hostname;
        return this.get_servers[this.$route.params.id].hostname;
      },

			serviceUrl: function() {
				return this.url;
			}
    }

  };

</script>

<style lang="css" scoped>
	.target_color {
		background-color: rgba(192,192,192, 0.5);
	}
</style>
