<template>
	<div class="ui segment">
		<div v-bind:class="{ 'active': requestState == false }" class="ui dimmer">
			<div class="ui indeterminate text loader">Fetching data</div>
		</div>
		<!--Barath -start -->
		<a class="ui green button" style="margin-top: 2rem;" :href="zabbixip"><h3 style="margin: 1rem;">Accèder à l'IHM de Supervision</h3></a>
		<!--Barath -end -->

		<h4 class="ui horizontal divider header" style="padding-top: 30px; padding-bottom: 50px">
			<i class="tasks icon"></i>
			Configuration de la base de données
		</h4>
		<form v-on:submit.stop.prevent="" class="ui form two column grid" v-bind:class="{ 'loading': loading }"
		id="bdd_config" style="padding-bottom: 50px">


		<div class="column">
			<div class="ui grid">
				<div class="twelve wide centered column">
					<div class="ui stacked secondary" style="padding-bottom: 30px">
						<div class="required field">
							<label style="text-align: left">Nom de la base de donnée</label>
							<div class="ui left icon input">
								<i class="user icon"></i>
								<input type="text" name="bdd_name" id="bdd_name" v-model="bdd_name" placeholder="Nom de la base de donnée">
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left">Utilisateur de la base donnée</label>
							<div class="ui left icon input">
								<i class="home icon"></i>
								<input type="text" name="bdd_user" id="bdd_user" v-model="bdd_user" placeholder="Utilisateur de la base donnée">
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left">Mot de passe</label>
							<div class="ui left icon input">
								<i class="cube icon"></i>
								<input type="password" id="bdd_passwd" name="bdd_passwd" v-model="bdd_passwd" placeholder="Mot de passe">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui grid">
				<div class="twelve wide centered column">
					<div class="ui stacked secondary" style="padding-bottom: 30px">
						<div class="ui grid" style="padding-top: 35px;">
							<button class="ui green button" style="margin-right: 15px" @click="">Save changes</button>
							<div class="ui icon inverted orange button" data-tooltip="Please edit your credentials as you need.">
								<i id="helpMark" class="large question icon animated infinite bounce"></i>
							</div>
							<router-link class="ui red button" :to="{name: 'supervision.agents'}" style="margin-left: 15px">Cancel</router-link>
							<div class="column"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="centered column">
			<div class="ui error message"></div>
		</div>
	</form>
</div>
</template>

<script>
	//Barath -start
	import Vuex from 'vuex'
	import store from '../../store'
	//Barath -end
	export default {

		name: 'Supervision_config',

		data () {
			return {
				range_value: 1,

				bddconfig_name: {
					rules: [{ type   : 'empty',
					prompt : 'Veuillez remplir le champ "{name}"'}]
				},
				bddconfig_user: {
					rules: [{ type : 'empty',
					prompt: 'Veuillez remplir le champ "{name}"'}]
				},

				bddconfig_passwd: {
					rules: [{	type : 'empty',
					prompt: 'Veuillez remplir le champ "{name}"'}]
				},

				bdd_user: "",
				bdd_passwd: "",
				bdd_name: "",
				requestState: false
			};
		},

		//Barath -start
		computed: {
			...Vuex.mapGetters(['get_servers']),

			zabbixip: function() {
				var url = "http://" + this.get_servers[this.$route.params.id].ip +"/zabbix";
				return(url);
			}
		},
		//Barath -end

		methods: {
			...Vuex.mapActions(['get_supervision_conf', 'edit_supervision_conf']),

			bdd_config() {
				$('#bdd_config').form('destroy');
				let _this = this;

				var fields = {
					fields: {
						bdd_user: this.bddconfig_user,
						bdd_name: this.bddconfig_name,
						bdd_passwd: this.bddconfig_passwd
					},

					onSuccess(event, field) {
						event.preventDefault();
						_this.save_config();
					}
				};
				$('#bdd_config').form(fields);
			},

			setValuesfromConfig() {
				this.bdd_user = this.get_servers[this.$route.params.id].supervision_config.DBUser;
				this.bdd_name = this.get_servers[this.$route.params.id].supervision_config.DBName;
				this.bdd_passwd = this.get_servers[this.$route.params.id].supervision_config.DBPassword;
			},

			get_conf() {
				this.requestState = false;
				if (!this.get_servers[this.$route.params.id].hasOwnProperty('supervision_config')) {
					console.log(this.get_servers[this.$route.params.id].ip);
					this.get_supervision_conf(this.get_servers[this.$route.params.id]).then(response => {
						this.setValuesfromConfig();
						this.requestState = true;
					}, error => {
						console.log(error);
						this.requestState = true;
					});
				} else {
					this.setValuesfromConfig();
					this.requestState = true;
				}
			},

			save_config() {
				this.requestState = false;
				let new_conf = {
					'DBName': this.bdd_name,
					'DBUser': this.bdd_user,
					'DBPassword': this.bdd_passwd
				};
				this.edit_supervision_conf({'server': this.get_servers[this.$route.params.id], 'new_conf': new_conf}).then(response => {
					this.requestState = true;
				}, error => {
					console.log(error);
					this.requestState = true;
				});
			}
		},

		mounted: function() {
			this.bdd_config();
			this.get_conf();
		}
	};
</script>

<style lang="css" scoped>
	#helpMark {
		-webkit-animation-delay: 1s;
		-webkit-animation-iteration-count: 6;
	}
</style>
