<template>
	<div class="ui segment">
		<div v-bind:class="{ 'active': requestState == false }" class="ui dimmer">
			<div class="ui indeterminate text loader">Fetching data</div>
		</div>
		<p></p>
		<div class="ui horizontal divider" style="padding-top: 2%; padding-bottom: 2%;">
			{{serverName}} | DNS
		</div>
		<div class="ui grid" style="padding-bottom: 20px; padding-top: 50px;">
			<div class="left aligned three wide column">
				<h3 style="padding-top: 5px;">Liste des virtualhost</h3>
			</div>
			<div class="middle aligned two wide column">
				<router-link :to="{name: 'dns.addzone' }"><button class="ui primary button"><i class="add circle icon"></i>Ajouter</button></router-link>
			</div>
			<div class="right aligned eleven wide column">
				<button class="ui primary button" id="button_checkconfigdns" @click="checkConfigDns()">Check config DNS</button>
			</div>
		</div>
		<table class="ui sortable celled table" id="tableZoneDns" style="margin-bottom: 50px">
			<thead>
				<tr>
					<th class="sorted descending">Zone name</th>
					<th class="">Type</th>
					<th>File</th>
					<th>Entrée de la zone</th>
					<th>Editer</th>
					<!--<th>Check config zone</th>-->
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(zone, index) in getZone">
					<td>{{ zone.name }}</td>
					<td>{{ zone.type }}</td>
					<td> {{ zone.file }}</td>
					<td><i class="big link info circle icon " style="margin-left: 40%" @click="viewZoneEntries(zone, index)"></i></td>
					<!--<td><i class="big link info circle icon " style="margin-left: 40%" @click="moreInfoZoneDns(zone.name, index)"></i></td>-->
					<td><i class="big link settings outline icon " style="margin-left: 35%" @click="editZoneDns(zone, index)"></i></td>
					<!--<td><i class="big link checkmark outline icon " style="margin-left: 45%" @click="checkConfigZone(zone.name, index)"></i></td>-->
					<td><i class="big link trash outline icon " style="margin-left: 40%" @click="deleteZoneDns(zone.name, index)"></i></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<!--<th></th>-->
				</tr>
			</tfoot>
		</table>


		<div class="ui horizontal divider">
			Or
		</div>
		<h2 class="ui image header">
			<div class="content">
				Edit {{serverName}} option
			</div>
		</h2>

		<div class="ui center aligned grid">
			<form v-on:submit.stop.prevent="" class="ui form column" id="editConfDns" style="padding-top: 50px; max-width: 600px;">
				<div class="ui stacked secondary segment">
					<!--
					<div class="required field">
						<label style="text-align: left">Directory</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="directorydns" id="directorydns" v-model="directorydns" placeholder="Directory">
						</div>
					</div>
					-->
					<div class="required field">
						<label style="text-align: left">Allow-query</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="allowquerydns" id="allowquerydns" v-model="allowquerydns" placeholder="192.0.0.1 192.0.0.2 ...">
						</div>
					</div>
					<button type="submit" class="ui fluid large teal button">Confirm</button>

				</div>
				<div class="ui error message"></div>

			</form>
		</div>



	</div>
</template>

<script>

	import Vuex from 'vuex'
	import store from '../../store'


	export default {

		name: 'Dns',

		data () {
			return {
				requestState: false,
				directorydns: "",
				allowquerydns: "",
				zonedns: []
			};
		},

		mounted: function () {
			var _this = this;

			this.getConfDns();
			$('#tableZoneDns').tablesort();
			$('#editConfDns').form({
				fields: {
					directorydns: {
						rules: [
						{
							type   : 'empty',
							prompt : '{name} must have a value'
						}
						]
					}
				},

				onSuccess(event, field) {
					event.preventDefault();
					_this.editConfDns();
				}
			})
		},

		methods: {
			...Vuex.mapActions(['get_ConfDns', 'edit_ConfDns', 'delete_DnsZone']),

			setValuesfromConfDns: function() {
				var _this = this;
				if (this.get_servers[this.$route.params.id].conf_dns.hasOwnProperty("options")) {
					this.directorydns = this.get_servers[this.$route.params.id].conf_dns.options.directory ? this.get_servers[this.$route.params.id].conf_dns.options.directory : "";
					this.allowquerydns = this.get_servers[this.$route.params.id].conf_dns.options.type ? this.get_servers[this.$route.params.id].conf_dns.options.allow-query.toString() : "";
				}
				if (this.get_servers[this.$route.params.id].conf_dns.hasOwnProperty("zone")) {
					$.each(this.get_servers[this.$route.params.id].conf_dns.zone, function(index, value) {
						_this.zonedns.push({"name": value.name, "file": value.file, "type": value.type});
					});
				}
				else {
					let toast = this.$toasted.info("<div class=\"ui grid\"><div class=\"row\"><div class=\"column\" style=\"margin-top: 3px; text-decoration: underline;\"><h3>" + this.get_servers[this.$route.params.id].hostname + "</h3></div></div><div class=\"center aligned row\"><div class=\"fourteen wide column centered\" style=\"margin-bottom: 3px; font-style: italic;\">" + "0 DNS zone has been found" + "</div></div></div>", {
						theme: "bubble",
						position: "top-right",
						duration : null,
						icon : { name : 'info'},
						action : [
						{icon : 'clear',
						onClick : (e) => {
							toast.goAway(0);
						}
					}],
					containerClass: 'customeContainer',
					className: 'customeClassInfo'
				});
					store.dispatch('addNotif', {"method": "info", "title": this.get_servers[this.$route.params.id].hostname, "content": "0 DNS zone has been found", "checked": false});
				}
			},

			getConfDns: function() {
				this.directorydns = "";
				this.allowquerydns = "";
				this.zonedns = [];
				let _this = this;

				if (!this.get_servers[this.$route.params.id].hasOwnProperty("conf_dns")) {

					this.get_ConfDns( this.get_servers[this.$route.params.id] ).then(response => {
						this.requestState = true;
						this.setValuesfromConfDns();
					}, error => {
						console.log(error);
						this.requestState = true;
					});
				} else {
					this.requestState = true;
					this.setValuesfromConfDns();
				}
			},

			editConfDns() {
				$('#editConfDns').toggleClass( "loading" );

				let tab = this.allowquerydns.split(",");
				for (var i = 0; i < tab.length; i++) {
					tab[i] = tab[i].trim();
				}

				this.edit_ConfDns({ "conf": {"ip": this.get_servers[this.$route.params.id].ip, "conf": { "directory": this.directorydns, "allow-query": tab },
					"my_hostname": this.get_servers[this.$route.params.id].hostname} , "server": this.get_servers[this.$route.params.id] } ).then(response => {
						$("#editConfDns").toggleClass( "loading");
						console.log(response);

					}, error => {
						$("#editConfDns").toggleClass( "loading");

					});

				},

				addZoneDns() {
					this.$router.push({ name: 'dns.addzone' });
				},

				editZoneDns(zone, index) {
					this.$router.push({ name: 'dns.editzone', params: {"zone": zone }});
				},

				viewZoneEntries(zone, index) {
					this.$router.push({name: 'dns.entries', params: {"zone": zone }});
				},

				deleteZoneDns(nameZone, index) {
					this.requestState = false;

					this.delete_DnsZone( { "del_dns_zone": { "ip": this.get_servers[this.$route.params.id].ip, "zone_name": nameZone },
						"server": this.get_servers[this.$route.params.id] }).then(response => {
						console.log(response);
						this.requestState = true;
					}, error => {
						console.log("error deleteZoneDns - ", error);
						this.requestState = true;
					});
				},

				moreInfoZoneDns(nameZone, index) {
					console.log(this.get_servers[this.$route.params.id].ip, nameZone);
					this.$http.post('dns/zone/details', {"ip": this.get_servers[this.$route.params.id].ip, "zone_name": nameZone } ).then((response) => {
						console.log(response);
						this.requestState = true;
					},
					(response) => {
						console.log("error moreInfoZoneDns - ", response);
						this.requestState = true;
					});
				},

				checkConfigDns() {
					$("#button_checkconfigdns").toggleClass( "loading").toggleClass("disabled");
					this.$http.post('dns/check', {"ip": this.get_servers[this.$route.params.id].ip, "my_hostname": this.get_servers[this.$route.params.id].hostname } ).then((response) => {
						console.log(response);
						$("#button_checkconfigdns").toggleClass( "loading").toggleClass("disabled");
					},
					(response) => {
						console.log("error checkConfigDns - ", response);
						$("#button_checkconfigdns").toggleClass( "loading").toggleClass("disabled");

					});
				},

				checkConfigZone(nameZone, index) {
					this.$http.post('dns/zone/check', {"ip": this.get_servers[this.$route.params.id].ip, "zone_name": nameZone} ).then((response) => {
						console.log(response);
						this.requestState = true;
					},
					(response) => {
						console.log("error checkConfigZone - ", response);
						this.requestState = true;
					});
				}
			},

			computed: {
				...Vuex.mapGetters(['get_servers']),

				serverName: function() {
					this.get_servers[this.$route.params.id].hostname;
					return this.get_servers[this.$route.params.id].hostname;
				},

				getZone: function() {
					return this.get_servers[this.$route.params.id].hasOwnProperty("conf_dns") && this.get_servers[this.$route.params.id].conf_dns.hasOwnProperty("zone") ? this.get_servers[this.$route.params.id].conf_dns.zone :
					{};
				}
			},

		watch: {				  // when route changes and this component is already rendered
			'$route' (to, from) {
				if (store.getters.get_servers == null || store.getters.get_servers == undefined || to.params.id >= store.getters.get_servers.length || store.getters.get_servers[to.params.id] == null ||
					store.getters.get_servers[to.params.id].service != 'DNS') {
					console.log("redirected by $route dns");
				this.$router.push({name : 'home'});
			}
			else {
				this.getConfDns();
			}
		}
	}
};
</script>

<style lang="css" scoped>
</style>
