<template>
	<div class="ui segment">
    <div class="ui two column stackable centered grid container">
      <div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px">
        Nouvelle Entrée pour la zone {{this.$route.params.zone.name}}
      </div>
      <form v-on:submit.stop.prevent="" class="ui form column" v-bind:class="{ 'loading': loading == true}" id="entry_form" style="padding-bottom: 50px">
				<div class="ui stacked secondary" style="padding-bottom: 30px">
					<div class="required field">
						<label style="text-align: left">Adresse IP</label>
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input type="text" name="entry_name" id="entry_name" v-model="entry_name" placeholder="IpV4/IpV6/name/...">
						</div>
					</div>
					<div class="required field">
						<label style="text-align: left">Type</label>
						<select class="ui fluid search dropdown" tabindex="0" name="entry_type" id="entry_type" v-model="entry_type">
							<option value="A">A</option>
							<option value="AAAA">AAAA</option>
							<option value="CNAME">CNAME</option>
							<!--<option value="MX">MX</option>-->
              <option value="NS">NS</option>
						</select>
					</div>
          <div class="required field">
						<label style="text-align: left">Nom d'hôte</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="entry_owner" id="entry_owner" v-model="entry_owner" placeholder="ex: @">
						</div>
					</div>
					<div v-if="entry_type == 'MX'" class="required field">
						<label style="text-align: left">Priorité</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="entry_priority" id="entry_priority" v-model="entry_priority" placeholder="ex: 10">
						</div>
					</div>
				</div>
				<div class="ui divider"></div>

				<div class="ui four column stackable centered grid container">
					<div class="left floated column">
						<button class="ui green button">Ajouter</button>
					</div>
					<div class="right aligned column">
						<router-link class="ui red button" :to="{name: 'dns.entries', params: {'zone': this.$route.params.zone}}">Annuler</router-link>
					</div>
				</div>
				<div class="ui error message"></div>
			</form>
    </div>
  </div>
</template>

<script>

	import Vuex from 'vuex'
	import store from '../../store'


	export default {

		name: 'DnsZoneEntry',

		data () {
			return {
				requestState: false,
        entry_name: "",
        entry_type: "",
				entry_priority: "",
        loading: false
			};
		},

    mounted: function() {
      var _this = this;

			$('#entry_type').dropdown();
			$('#entry_type').dropdown('set value', "A");

      $('#entry_form').form({
        fields: {
          entry_name: {
            rules: [{ type   : 'empty',
            prompt : '{name} must have a value'}]
          },
          entry_type: {
            rules: [{ type   : 'empty', // A APPROFONDIR
            prompt : 'Please select a correct {name}'}]
          },
					entry_owner: {
            rules: [{ type   : 'empty', // A APPROFONDIR
            prompt : 'Please select a correct {name}'}]
          },
					entry_priority: {
            rules: [{ type   : 'empty', // A APPROFONDIR
            prompt : 'Please select a correct {name}'}]
          },
        },

        onSuccess(event, field) {
          event.preventDefault();
          _this.addentry();
        }
      })
    },

    methods: {
			...Vuex.mapActions(['add_zone_entry']),

			addentry() {
				let new_conf = {
					"owner": this.entry_owner,
					"type": this.entry_type,
					"value": this.entry_name
				};
				if (this.entry_type == 'MX') {
					new_conf["priority"] = this.entry_priority;
				}
				console.log(new_conf);
				this.requestState = false;
				this.add_zone_entry({"server": this.get_servers[this.$route.params.id], "zone": this.$route.params.zone, "entry": new_conf}).then(response => {
					this.requestState = true;
					this.$router.push({name: 'dns.entries', params: {"zone": this.$route.params.zone }});
				}, error => {
					console.log(error);
					this.requestState = true;
					this.$router.push({name: 'dns.entries', params: {"zone": this.$route.params.zone }});
				});
			},
    },

    computed: {
      ...Vuex.mapGetters(['get_servers']),

      serverName: function() {
        this.get_servers[this.$route.params.id].hostname;
        return this.get_servers[this.$route.params.id].hostname;
      },
    },
  }

</script>

<style lang="css" scoped>
</style>
