<template>
	<div class="ui segment">
    <div class="ui two column stackable centered grid container">
      <div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px" v-if="this.$route.params.entry.type != 'SOA'">
        Edition de l'entrée {{this.$route.params.entry.name}} pour la zone {{this.$route.params.zone.name}}
      </div>
      <div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px" v-else>
        Edition de l'entrée SOA pour la zone {{this.$route.params.zone.name}}
      </div>
      <form v-on:submit.stop.prevent="" class="ui form column" v-bind:class="{ 'loading': loading == true}" id="entry_form" style="padding-bottom: 50px">
        <div v-if="this.$route.params.entry.type != 'SOA'">
  				<div class="ui stacked secondary" style="padding-bottom: 30px">
  					<div class="required field">
  						<label style="text-align: left">Adresse IP</label>
  						<div class="ui left icon input">
  							<i class="user icon"></i>
  							<input type="text" name="entry_name" id="entry_name" v-model="entry_name" placeholder="IpV4/IpV6/name/...">
  						</div>
  					</div>
  					<div class="required field" v-if="this.$route.params.entry.type != 'SOA'">
  						<label style="text-align: left">Type</label>
  						<select class="ui fluid search dropdown" tabindex="0" name="entry_type" id="entry_type" v-model="entry_type">
  							<option value="A">A</option>
  							<option value="AAAA">AAAA</option>
  							<option value="CNAME">CNAME</option>
  							<!--<option value="MX">MX</option>-->
                <option value="NS">NS</option>
  						</select>
  					</div>
            <div class="required field">
  						<label style="text-align: left">Nom d'hôte</label>
  						<div class="ui left icon input">
  							<i class="server icon"></i>
  							<input type="text" name="entry_owner" id="entry_owner" v-model="entry_owner" placeholder="ex: @">
  						</div>
  					</div>
  					<div v-if="entry_type == 'MX'" class="required field">
  						<label style="text-align: left">Priorité</label>
  						<div class="ui left icon input">
  							<i class="server icon"></i>
  							<input type="text" name="entry_priority" id="entry_priority" v-model="entry_priority" placeholder="ex: 10">
  						</div>
  					</div>
  				</div>
        </div>
				<div class="ui divider" v-if="this.$route.params.entry.type != 'SOA'"></div>
        <div v-if="this.$route.params.entry.type == 'SOA'">
          <div class="required field">
            <label style="text-align: left">TTL</label>
            <div class="ui left icon input">
              <i class="server icon"></i>
              <input type="text" name="soa_ttl" id="soa_ttl" v-model="soa_ttl" placeholder="ex: 86400">
            </div>
          </div>
          <div class="required field">
            <label style="text-align: left">Temps avant actualisation</label>
            <div class="ui left icon input">
              <i class="server icon"></i>
              <input type="text" name="soa_refresh" id="soa_refresh" v-model="soa_refresh" placeholder="ex: 2000">
            </div>
          </div>
          <div class="required field">
            <label style="text-align: left">Temps avant nouvel essai</label>
            <div class="ui left icon input">
              <i class="server icon"></i>
              <input type="text" name="soa_retry" id="soa_retry" v-model="soa_retry" placeholder="ex: 14000">
            </div>
          </div>
          <div class="required field">
            <label style="text-align: left">Temps avant expiration</label>
            <div class="ui left icon input">
              <i class="server icon"></i>
              <input type="text" name="soa_expire" id="soa_expire" v-model="soa_expire" placeholder="ex: 300000">
            </div>
          </div>
          <div class="required field">
            <label style="text-align: left">Minimum TTL</label>
            <div class="ui left icon input">
              <i class="server icon"></i>
              <input type="text" name="soa_neg_ttl" id="soa_neg_ttl" v-model="soa_neg_ttl" placeholder="ex: 90000">
            </div>
          </div>
        </div>

        <div class="ui divider"></div>
				<div class="ui four column stackable centered grid container">
					<div class="left floated column">
						<button class="ui green button">Enregistrer</button>
					</div>
					<div class="right aligned column">
						<router-link class="ui red button" :to="{name: 'dns.entries', params: {'zone': this.$route.params.zone}}">Annuler</router-link>
					</div>
				</div>
				<div class="ui error message"></div>
			</form>
    </div>
  </div>
</template>

<script>

	import Vuex from 'vuex'
	import store from '../../store'


	export default {

		name: 'DnsZoneEntry',

		data () {
			return {
				requestState: false,
        entry_name: "",
        entry_type: "",
				entry_priority: "",

        soa_ttl : "",
        soa_neg_ttl : "",
        soa_refresh : "",
        soa_retry : "",
        soa_expire : "",
        loading: false
			};
		},

    mounted: function() {
      this.getConf();

      var _this = this;

			$('#entry_type').dropdown();
			$('#entry_type').dropdown('set value', this.$route.params.entry.type);

      $('#entry_form').form({
        fields: {
          entry_name: {
            rules: [{ type   : 'empty',
            prompt : '{name} must have a value'}]
          },
          entry_type: {
            rules: [{ type   : 'empty', // A APPROFONDIR
            prompt : 'Please select a correct {name}'}]
          },
					entry_owner: {
            rules: [{ type   : 'empty', // A APPROFONDIR
            prompt : 'Please select a correct {name}'}]
          },
					entry_priority: {
            rules: [{ type   : 'empty', // A APPROFONDIR
            prompt : 'Please select a correct {name}'}]
          },

          soa_ttl: {
            rules: [{ type   : 'empty', // A APPROFONDIR
            prompt : 'Please select a correct {name}'}]
          },
          soa_neg_ttl: {
            rules: [{ type   : 'empty', // A APPROFONDIR
            prompt : 'Please select a correct {name}'}]
          },
          soa_expire: {
            rules: [{ type   : 'empty', // A APPROFONDIR
            prompt : 'Please select a correct {name}'}]
          },
          soa_refresh: {
            rules: [{ type   : 'empty', // A APPROFONDIR
            prompt : 'Please select a correct {name}'}]
          },
          soa_retry: {
            rules: [{ type   : 'empty', // A APPROFONDIR
            prompt : 'Please select a correct {name}'}]
          },
        },

        onSuccess(event, field) {
          event.preventDefault();
          if (_this.$route.params.entry.type != 'SOA') {
            _this.editentry();
          } else {
            _this.editSOA();
          }
        }
      })
    },

    methods: {
			...Vuex.mapActions(['edit_zone_entry', 'edit_zone_soa']),

      getConf() {
        if (this.$route.params.entry.type != 'SOA') {
          this.entry_name = this.$route.params.entry.name;
          this.entry_owner = this.$route.params.entry.owner;
          if (this.$route.params.entry.type == 'MX') {
            if (this.$route.params.entry.priority) {
              this.entry_priority = this.$route.params.entry.priority;
            }
          }
        } else {
          this.soa_ttl = this.$route.params.zone.SOA.TTL;
          this.soa_neg_ttl = this.$route.params.entry.neg_ttl;
          this.soa_expire = this.$route.params.entry.expire;
          this.soa_refresh = this.$route.params.entry.refresh;
          this.soa_retry = this.$route.params.entry.retry;
        }
      },

      editSOA() {
        let req = {
          'ip': this.get_servers[this.$route.params.id].ip,
          'zone_name': this.$route.params.zone.name,
          'TTL': this.soa_ttl,
          'soa': {
            'refresh': this.soa_refresh,
            'retry': this.soa_retry,
            'expire': this.soa_expire,
            'neg_ttl': this.soa_neg_ttl
          }
        };
        this.requestState = false;
        this.edit_zone_soa({"server": this.get_servers[this.$route.params.id], "zone": this.$route.params.zone, "conf": req}).then(response => {
          this.requestState = true;
          this.$router.push({name: 'dns.entries', params: {"zone": this.$route.params.zone }});
        }, error => {
          console.log(error);
          this.requestState = true;
          this.$router.push({name: 'dns.entries', params: {"zone": this.$route.params.zone }});
        });
      },

			editentry() {
				let new_conf = {
					"owner": this.entry_owner,
					"type": this.entry_type,
					"value": this.entry_name
				};
				if (this.entry_type == 'MX') {
					new_conf["priority"] = this.entry_priority;
				}
        let old_conf = {
          "owner": this.$route.params.entry.owner,
          "type": this.$route.params.entry.type,
          "value": this.$route.params.entry.name
        };
        if (this.entry_type == 'MX') {
          if (this.$route.params.entry.priority) {
            old_conf["priority"] = this.$route.params.entry.priority;
          }
        }
				console.log(new_conf);
				this.requestState = false;
				this.edit_zone_entry({"server": this.get_servers[this.$route.params.id], "zone": this.$route.params.zone, "new_entry": new_conf, "old_entry": old_conf, 'idx_old': this.$route.params.index}).then(response => {
					this.requestState = true;
					this.$router.push({name: 'dns.entries', params: {"zone": this.$route.params.zone }});
				}, error => {
					console.log(error);
					this.requestState = true;
					this.$router.push({name: 'dns.entries', params: {"zone": this.$route.params.zone }});
				});
			},
    },

    computed: {
      ...Vuex.mapGetters(['get_servers']),

      serverName: function() {
        this.get_servers[this.$route.params.id].hostname;
        return this.get_servers[this.$route.params.id].hostname;
      },
    },
  }

</script>

<style lang="css" scoped>
</style>
