<template>
  <div class="ui segment">
    <div v-bind:class="{ 'active': requestState == false }" class="ui dimmer">
      <div class="ui indeterminate text loader">Fetching data</div>
    </div>
    <p></p>
    <div class="ui horizontal divider" style="padding-top: 2%; padding-bottom: 2%;">
      Entrée de la zone {{this.$route.params.zone.name}}
    </div>
    <div class="ui grid" style="padding-bottom: 20px; padding-top: 50px;">
      <div class="left aligned three wide column">
        <h3 style="padding-top: 5px;">Liste des entrées</h3>
      </div>
      <div class="middle aligned two wide column">
        <router-link :to="{name: 'dns.addentries', params: {'zone': this.$route.params.zone} }"><button class="ui primary button"><i class="add circle icon"></i>Ajouter</button></router-link>
      </div>
    </div>
    <table class="ui sortable celled table" id="tableEntryZoneDns" style="margin-bottom: 50px">
			<thead>
				<tr>
					<th class="sorted descending">Nom d'hôte</th>
					<th class="">Type</th>
					<th>Adresse IP</th>
					<th>Editer</th>
					<th>Supprimer</th>
				</tr>
			</thead>
      <tbody>
        <tr v-for="(zone, index) in getSOA">
          <td v-if="index !='TTL'">{{ zone.owner }}</td>
          <td v-if="index !='TTL'">{{ zone.type }}</td>
          <td v-if="index !='TTL'"> {{ zone.name }}</td>
          <td v-if="index !='TTL'"><i class="big link settings outline icon " style="margin-left: 35%" @click="editEntryZoneDns(zone, index)"></i></td>
        </tr>
				<tr v-for="(zone, index) in getEntry">
					<td>{{ zone.owner }}</td>
					<td>{{ zone.type }}</td>
					<td> {{ zone.name }}</td>
					<td><i class="big link settings outline icon " style="margin-left: 35%" @click="editEntryZoneDns(zone, index)"></i></td>
					<td><i class="big link trash outline icon " style="margin-left: 40%" @click="deleteEntryZoneDns(zone, index)"></i></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</tfoot>
		</table>
  </div>
</template>

<script>

	import Vuex from 'vuex'
	import store from '../../store'


	export default {

		name: 'DnsZoneEntry',

		data () {
			return {
				requestState: false
			};
		},

    mounted: function() {
      this.getEntries();
    },

    methods: {
    	...Vuex.mapActions(['get_ZoneEntries', 'get_ZoneEntrySOA', 'delete_zone_entry']),

      getEntries() {
        this.requestState = false;
        if (this.get_servers[this.$route.params.id].hasOwnProperty('conf_dns')) {
          this.get_ZoneEntries({"server": this.get_servers[this.$route.params.id], "zone": this.$route.params.zone}).then(response => {
            this.requestState = true;
          }, error => {
            console.log(error);
            this.requestState = true;
          });
          this.requestState = false;
          this.get_ZoneEntrySOA({"server": this.get_servers[this.$route.params.id], "zone": this.$route.params.zone}).then(response => {
            this.requestState = true;
          }, error => {
            console.log(error);
            this.requestState = true;
          });
        } else {
          this.requestState = true;
        }
      },

      editEntryZoneDns(zone, index) {
        this.$router.push({ name: 'dns.editentries', params: {'zone': this.$route.params.zone, 'entry': zone, 'index': index}});
        console.log(this.$route.params.zone);
      },

      deleteEntryZoneDns(entry, index) {
		    this.requestState = false;
        this.delete_zone_entry({"server": this.get_servers[this.$route.params.id], "zone": this.$route.params.zone, "idx_entry": index}).then(response => {
          this.requestState = true;
        }, error => {
          console.log(error);
          this.requestState = true;
        });
      }
    },

    computed: {
      ...Vuex.mapGetters(['get_servers']),

      serverName: function() {
        this.get_servers[this.$route.params.id].hostname;
        return this.get_servers[this.$route.params.id].hostname;
      },

      getEntry: function() {
        return this.get_servers[this.$route.params.id].hasOwnProperty("conf_dns") && this.get_servers[this.$route.params.id].conf_dns.hasOwnProperty("zone")
        ? this.get_servers[this.$route.params.id].conf_dns.zone[this.$route.params.zone.name].zone_entry : {};
      },

      getSOA: function() {
        return this.get_servers[this.$route.params.id].hasOwnProperty("conf_dns") && this.get_servers[this.$route.params.id].conf_dns.hasOwnProperty("zone")
        ? this.get_servers[this.$route.params.id].conf_dns.zone[this.$route.params.zone.name].SOA : {};
      }
    },
  }

</script>

<style lang="css" scoped>
</style>
