	<template>
		<div class="ui segment">
			<div class="ui two column stackable centered grid container">
				<div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px">
					Editer le dossier partagé '{{getSFTPDirectoryName}}' | SFTP
				</div>
				<div class="column">


					<div class="ui middle aligned divided list" style="padding-bottom: 20px; padding-right: 10px; padding-left: 10px; padding-top: 20px; margin-top: 30px
					border-radius: 15px; border-right: 1px solid #ccc; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; max-height: 200px; overflow-y: auto">
					<div class="item" v-for="(user, index) in getSFTPUser">
						<div class="right floated content">
							<div class="right floated content" v-if="option_users.length > 0">
								<input type="checkbox" v-model="option_users[index].targeted">
							</div>
						</div>
						<i class="user icon"></i>
						<div class="content">
							<a class="header">{{user.login}}</a>
						</div>
					</div>
				</div>
				<div class="ui four column stackable centered grid container" style="padding-top: 30px">
					<div class="left floated column">
					</div>
					<div class="right aligned column">
						<button class="ui green button" id="button_edit_directory" @click="editdirectoryusers_sftp">Enregistrer</button>
					</div>
				</div>

				<div class="ui four column stackable centered grid container">
					<div class="left floated column">
						<router-link class="ui red button" :to="{name: 'sftp'}">Cancel</router-link>
					</div>
					<div class="right aligned column">

					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Vuex from 'vuex'
	import store from '../../store'

	export default {

		name: 'SFTP_editdirectory',

		data () {
			return {
				option_users: []
			};
		},

		mounted: function() {
			var _this = this;

			console.log(this.getSFTPUser);

			for (var i = 0; i < this.getSFTPUser.length; i++) {
				this.option_users.push({targeted: false});
			}

			for (var i = 0; i < this.get_servers[this.$route.params.id].shared_directories[this.$route.params.directory].associated_users.length; i++) {
				if (this.get_servers[this.$route.params.id].shared_directories[this.$route.params.directory].associated_users.indexOf(this.getSFTPUser[i].login) != -1)
					this.option_users[i].targeted = true;
			}
				/*for (var i = 0; i < this.get_servers[this.$route.params.id].shared_directories[this.$route.params.directory].associated_users.length; i++) {
					
					for (var idx = 0; idx < this.getSFTPUser.length; idx++) {
						if (this.getSFTPUser[idx].login === this.get_servers[this.$route.params.id].shared_directories[this.$route.params.directory].associated_users[0]) {
							this.option_users[idx].targeted = true;
							break;
						}
					}
				}*/
			},

			methods: {
				...Vuex.mapActions(['add_SFTP_usersInDirectory', 'delete_SFTP_usersInDirectory']),

				editdirectoryusers_sftp: function () {

					var idx_user = 0;

					

					for (var i = 0; i < this.option_users.length; i++) {
						if (this.option_users[i].targeted &&
							this.get_servers[this.$route.params.id].shared_directories[this.$route.params.directory].associated_users.indexOf(this.getSFTPUser[i].login) == -1) {
							// ici on ajoute le user au dossier partagé
						console.log("ici on ajoute le user au dossier partagé");
						$('#button_edit_directory').toggleClass('loading').toggleClass('disabled');
						this.add_SFTP_usersInDirectory( {"server": this.get_servers[this.$route.params.id], "idx_directory": this.$route.params.directory, "login": this.getSFTPUser[i].login } ).then(response => {
							console.log(response);
							$('#button_edit_directory').toggleClass('loading').toggleClass('disabled');
							this.$router.push({ name: 'sftp'});
						}, error => {
							console.log("error add user in directory", error);
							$('#button_edit_directory').toggleClass('loading').toggleClass('disabled');

						})


					} else if (!this.option_users[i].targeted &&
						this.get_servers[this.$route.params.id].shared_directories[this.$route.params.directory].associated_users.indexOf(this.getSFTPUser[i].login) != -1) {
						// ici on delete le user au dossier partagé
						console.log("ici on delete le user au dossier partagé");
						$('#button_edit_directory').toggleClass('loading').toggleClass('disabled');
						this.delete_SFTP_usersInDirectory( {"server": this.get_servers[this.$route.params.id], "idx_directory": this.$route.params.directory, "login": this.getSFTPUser[i].login } ).then(response => {
							console.log(response);
							$('#button_edit_directory').toggleClass('loading').toggleClass('disabled');
							this.$router.push({ name: 'sftp'});
						}, error => {
							console.log("error delete user in directory ", error);
							$('#button_edit_directory').toggleClass('loading').toggleClass('disabled');

						})
					}
				}
			}
		},

		computed : {
			...Vuex.mapGetters(['get_servers']),

			getSFTPUser: function() {
				this.get_servers[this.$route.params.id].users;
				return this.get_servers[this.$route.params.id].users;
			},

			getSFTPDirectoryName: function() {
				return this.get_servers[this.$route.params.id].shared_directories[this.$route.params.directory].name;
			}
		}
	};
</script>

<style lang="css" scoped>
</style>