<template>
	<div class="ui center aligned grid" style="padding-top: 80px">
		<div class="column">
			<h2 class="ui image header">
				<div class="content">
					Create
				</div>
			</h2>
			<form v-on:submit.stop.prevent="createServer" class="ui form" v-bind:class="{ 'loading': loading }" id="createServer">
				<div class="ui stacked secondary segment">
					<div class="required field">
						<label style="text-align: left">Virtual machine's name :</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="vm_name" id="vm_name" v-model="vm_name" placeholder="Example : VM_DHCP ... ">
						</div>
					</div>
					<div class="ui error message"></div>
					<button type="submit" class="ui fluid large teal button" id="confirm_add_server">Confirm</button>

				</div>

			</form>
		</div>

	</div>
</template>

<script>
	export default {

		name: 'CreateServer',

		data () {
			return {
				vm_name: "",
				loading: false
			}
		},

		methods: {
			createServer: function() {
				this.loading = true;
				this.$http.post('vm/create', {"vm_name": this.vm_name, "size": 10, "cpu": 2, "ram": 4096 } ).then((response) => {
					this.loading = false;

					console.log(response);
				},
				(response, tt) => {
					console.log("error rebootServer - ", response);
					this.loading = false;

				});

			},
		},

		mounted : function () {
			var _this = this;
			$('#createServer').form({
				fields: {
					vm_name: {
						rules: [
						{
							type   : 'minLength[2]',
							prompt : '{name} must have at least {ruleValue} characters'
						}
						]
					},
				},

				onSuccess(event, field) {
					event.preventDefault();
				}
			})
		}
	}
</script>

<style lang="css" scoped>
	.column {
		max-width: 600px;
	}
</style>