<template>
  <div>
    <div class="ui segment">
      <!--<span>Home</span>

      <div v-for="(t, index) in ttttt">
        -{{ JSON.stringify(t) }}-
        <div @click="tttttt(index)">switch</div>
      </div>
      <div @click="add()">add</div>

      <button @click="test">notif</button>-->
    </div>
  </div>
</template>

<script>
  import Vuex from 'vuex'
  export default {

    name: 'home',
    data () {
      return {
        ttttt: []
      };
    },

    methods: {
    ...Vuex.mapActions(['addNotif']),

      add: function () {
        this.ttttt.push( {targeted: false} );
      },

      tttttt: function(index) {
        this.ttttt[index].targeted = !this.ttttt[index].targeted;
      },

      test: function() {

        this.addNotif({"method": "error", "content": "Operation failed"});
        
          let toast = this.$toasted.error("<div class=\"ui grid\"><div class=\"row\"><div class=\"column\" style=\"margin-top: 3px; text-decoration: underline;\"><h4>Operation failed</h4></div></div><div class=\"center aligned row\"><div class=\"fourteen wide column centered\" style=\"margin-bottom: 3px; font-style: italic;\">text descriptif ici</div></div></div>", {
            theme: "bubble", 
            position: "top-right", 
            duration : null,
            icon : { name : 'warning'},
            action : [

          {icon : 'clear',
            onClick : (e) => {
              toast.goAway(0);
            }
          }],
          containerClass: 'customeContainer',
          className: 'customeClass'
        });

        }
      },
    }
  </script>

  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style>
    .ui.segment {
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 2px 8px 0px rgb(34, 36, 38);
    }


    .customeContainer
    {
      max-width: 30%!important;
      padding-top: 5px;
    }

    .customeClassInfo
    {
      background-color: #2185d0!important;
    }
  </style>
