<template>
	<div class="ui middle aligned center aligned grid" style="padding-top: 20%">
		<div class="column">
			<h2 class="ui image header">
				<div class="content">
					Log-in to your account
				</div>
			</h2>
			<form v-on:submit.stop.prevent="" class="ui large form" v-bind:class="{ 'loading': loading }" id="login">
				<div class="ui stacked secondary segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input type="text" name="username" v-model="username" placeholder="Username">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input type="password" name="password" v-model="password" placeholder="Password">
						</div>
					</div>
					<button type="submit" class="ui fluid large teal button">Login</button>
				</div>
				<div class="ui error message"></div>

			</form>
			<div class="ui message">
				New to eloryal? <router-link :to="{name: 'home'}">Register</router-link>
			</div>
		</div>
	</div>
</template>

<script>
	import Vuex from 'vuex'

	export default {

		name: 'Login',

		data () {
			return {
				loading: false,
				username: 'toto',
				password: 'test',
			};
		},

		methods: {
			...Vuex.mapActions(['setLogin']),

			login () {
				this.loading = true;
				console.log({ "login" : this.username, "password": this.password });
					this.$http.post('login', { "login" : this.username, "password": this.password } ).then((response) => {
						console.log(response);
						this.setLogin({ "login" : this.username, "token": response.body.response } );
						this.loading = false;
						this.$router.push({ name: 'home' });
					},
					(response) => {
						console.log("error login function, can not access /users url");
						this.loading = false;
					});

		},

		logout: function() {
			this.set_LoggedIn(false);
		}
	},

	computed: {
		...Vuex.mapGetters(['isLogged'])
	},

	mounted: function() {
		if (this.isLogged)
			this.$router.push({name: 'home'});
		var _this = this;
		$('#login').form({
			fields: {
				username: {
					rules: [
					{
						type   : 'empty',
						prompt : 'Please enter your username'
					}
					]
				},
				password: {
					rules: [
					{
						type   : 'minLength[3]',
						prompt : 'Your password must be at least {ruleValue} characters'
					}
					]
				}
			},

			onSuccess(event, field) {
				event.preventDefault();
				_this.login();
			}
		})
	}
}
</script>

<style lang="css" scoped>
	.image {
		margin-top: -100px;
	}
	.column {
		max-width: 450px;
	}
</style>