<template>
  <div class="sixteen wide column" style="padding-bottom: 0px; margin: 0px">
    <div class="ui inverted blue stackable menu" style="border-radius: 0;">
      <div class="left menu" style="margin-left: 20%">

        <router-link :to="{name: 'home'}" class="item">Home</router-link> 
      </div>
      <div class="right menu" style="margin-right: 10%">
        <!-- <router-link :to="{name: 'log in'}" class="item" v-if="!get_loggedIn">Log in</router-link> -->
        <!-- <router-link :to="{name: 'sign up'}" class="item" v-if="!get_loggedIn">Sign up</router-link> -->
        <a class="item" v-if="isLogged" id="logout_button" @click="disc_button()">Logout</a>
        <a class="ui dropdown item" id="notif_dropdown">
          <div class="floating ui label" style="top: 0px; background-color: rgb(255, 154, 81)!important">{{get_notifications.length}}</div>
          <i class="icon alarm"></i>

          <div class="menu" style="max-height: 400px; max-width: 300px; min-width: 200px; overflow-x: auto;">
            <div class="header">
              Notif history
            </div>

            <div v-for="(notif, index) in sortedNotifications" :key="notif.id" class="item" :class="{ 'success': notif.method == 'success', 
            'error': notif.method == 'error', 'info': notif.method == 'info' }" style="font-style: italic; padding-left: 0px; padding-right: 0px;">
              
             {{notif.content}}

           </div>
         </div>
       </a>

       <a class="item">
        <i class="search icon"></i>Help
      </a>
    </div>
  </div>
</div>
</template>

<script>
  import store from '../store'
  import Vuex from 'vuex'

  export default {

    name: 'Navbar',

    data () {
      return {
      };
    },

    mounted: function() {
      $('#notif_dropdown').dropdown();

    },

    methods: {
      ...Vuex.mapActions({ commit_logout: 'logout'}),

      disc_button: function() {
        this.$http.post('logout', {'login': this.getLogin, 'token': this.getToken }).then((response) => {
          this.commit_logout();
            this.$router.push({ name: 'log in' });
          },
          (response) => {
            console.log(response);
          });
      }
    },

    created: function() {

    },

    computed: {
      ...Vuex.mapGetters(['get_notifications', 'isLogged', 'getToken', 'getLogin']),

      sortedNotifications: function () {
        var toReturn = [];
        this.get_notifications;
        
        for (var i = this.get_notifications.length; i > 0; i--) {
          toReturn.push(this.get_notifications[i - 1]);
        }
        return toReturn;
      }
    }
  };
</script>

<style lang="css" scoped>
  .ui.menu .ui.dropdown .menu>.item {
    margin: 0;
    text-align: left;
    font-size: 1em!important;
    padding: .78571429em 1.14285714em!important;
    background: 0 0;
    color: rgba(0,0,0,.87);
    text-transform: none!important;
    font-weight: 400!important;
    box-shadow: none!important;
    -webkit-transition: none!important;
    transition: none!important;
  }
  .success {
    color: rgb(76, 175, 80)!important;
    background-color: rgba(76, 175, 80, 0.24)!important;
  }

  .error {
    background-color: rgba(244, 67, 54, 0.24)!important;
  }

  .info {
    background-color: rgba(63, 81, 181, 0.24)!important;
  }

  .ui.dropdown .menu>* {
    white-space: normal;
  }
</style>"