<template>
	<div class="ui segment">
		<div class="ui two column stackable centered grid container">
			<div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px">
				Ajouter un nouveau Organization Unit | LDAP
			</div>
			<div class="column">

				<form v-on:submit.stop.prevent="" class="ui form column" :class="{ 'loading': loading }" id="addgroup_ldap" style="padding-bottom: 50px">
					<div class="ui stacked secondary" style="padding-bottom: 30px">
						<div class="required field">
							<label style="text-align: left">Nom de l'Organization Unit</label>
							<div class="ui left icon input">
								<i class="folder icon"></i>
								<input type="text" name="name_ou" id="name_ou" v-model="name_ou" placeholder="Nom de l'Organization Unit">
							</div>
						</div>
					</div>
					<div class="ui divider"></div>

					<h5>Liste des utilisateurs</h5>

					<div class="ui middle aligned divided list" style="padding-bottom: 20px; padding-right: 10px; padding-left: 10px; padding-top: 20px; margin-top: 30px
					border-radius: 15px; border-right: 1px solid #ccc; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; max-height: 200px; overflow-y: auto">
					<div class="item" v-for="(user, index) in serverLDAP_Users">
						<div class="right floated content" v-if="option_users.length > 0">
							<input type="checkbox" v-model="option_users[index].targeted">
						</div>
						<i class="user icon"></i>
						<div class="content">
							<a class="header">{{user.username}}</a>
						</div>
					</div>
				</div>
				<div class="ui four column stackable centered grid container" style="padding-top: 30px">
					<div class="left floated column">
						<router-link class="ui red button" :to="{name: 'ldap'}">Cancel</router-link>
					</div>
					<div class="right aligned column">
						<button class="ui green button">Ajouter</button>
					</div>
				</div>
				<div class="ui error message"></div>

			</form>
		</div>
	</div>
</div>
</template>

<script>

	import Vue from 'vue'
	import Vuex from 'vuex'
	import store from '../../store'

	export default {

		name: 'LDAP_addgroup',

		data () {
			return {
				name_ou: "",
				option_users: [],
				loading: false,
				idx: 0
			};
		},

		mounted: function() {

			var _this = this;

			$('#addgroup_ldap').form({
				fields: {
					name_ou: {
						rules: [
						{
							type   : 'empty',
							prompt : 'Veuillez remplir le champ "{name}"'
						}
						]
					}
				},

				onSuccess(event, field) {
					event.preventDefault();
					_this.addgroup_ldap();
				}
			});

			for (var i = 0; i < this.serverLDAP_Users.length; i++) {
				this.option_users.push({targeted: false});
			}
			this.idx = 0;
		},

		methods: {
			...Vuex.mapActions(['add_LDAP_group', 'add_LDAP_usersInGroup']),

			addgroup_ldap: function() {
				var _this = this;
				this.loading = true;
				let tmp = "";
				for (var i = 0; i < this.option_users.length; i++) {
					if (this.option_users[i].targeted) {
						tmp = this.serverLDAP_Users[i].user_dn;
						break;
					}
				}
				this.add_LDAP_group( { "server": this.get_servers[this.$route.params.id], "groupname": this.name_ou, "member_dn": tmp} ).then(response => {

					if (this.option_users.length > 0)
						this.add_user_in_directory();
					else {
						this.loading = false;
						this.$router.push({ name: 'ldap'});
					}

				}, error => {
					console.log(error);
					this.loading = false;
				})
			},

			add_user_in_directory: function() {

				if (this.option_users[this.idx].targeted) {
					this.loading = true;
					this.add_LDAP_usersInGroup( {"server": this.get_servers[this.$route.params.id],
						"idx_directory": this.get_servers[this.$route.params.id].ldap_groups.length - 1, "user_dn": this.serverLDAP_Users[this.idx].username } ).then(response => {

							if (this.idx + 1 >= this.option_users.length) {
								this.loading = false;
								this.$router.push({ name: 'ldap'});
							} else {
								++this.idx;
								this.add_user_in_directory();
							}

						}, error => {
							console.log("error add_SFTP_usersInDirectory", error);
							this.loading = false;

						})

					} else if (this.idx < this.option_users.length) {
						++this.idx;
						this.add_user_in_directory();
					}
					else {
						this.loading = false;
						this.$router.push({ name: 'ldap'});
					}
				}
			},


			computed: {
				...Vuex.mapGetters(['get_servers']),

				serverName: function() {
					this.get_servers[this.$route.params.id].hostname;
					return this.get_servers[this.$route.params.id].hostname;
				},

				serverLDAP_Users: function() {
					this.get_servers[this.$route.params.id].ldap_users;
					return this.get_servers[this.$route.params.id].hasOwnProperty("ldap_users") ? this.get_servers[this.$route.params.id].ldap_users : [];
				},

				serverLDAP_Groups: function() {
					this.get_servers[this.$route.params.id].ldap_groups;
					return this.get_servers[this.$route.params.id].ldap_groups;
				},
			}
		};
	</script>

	<style lang="css" scoped>
	</style>
