<template>
	<div class="ui segment">
		<div class="ui left aligned grid row">

			<div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px">
				{{serverName}} | LDAP
			</div>


			<div class="fourteen wide column" style="padding-bottom: 20px; border-radius: 0px; border-bottom: 1px solid #ccc">
				<div class="ui top attached tabular menu">
					<a class="item active" data-tab="users">Utilisateurs</a>
					<a class="item" data-tab="organization_unit">Organization Unit</a>
				</div>
				<div class="ui bottom attached tab segment active" data-tab="users">
					<div class="ui middle aligned divided list" v-if="targeted_users.length > 0">
						<div class="item" v-for="(user, index) in serverLDAP_Users" v-bind:class=" { 'target_color': targeted_users[index].targeted }" @click="target_user(index)">
							<i class="ui avatar user icon"></i>
							<div class="content">
								<a class="header">{{user.username}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="ui bottom attached tab segment" data-tab="organization_unit">
					<div class="ui middle aligned divided list" v-if="targeted_group.length > 0">
						<div class="item" v-for="(group, index) in serverLDAP_Groups" v-bind:class=" { 'target_color': targeted_group[index].targeted == true }" @click="target_directory(index)">
							<i class="folder icon" ></i>
							<div class="content">
								<a class="header">{{group.groupname}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="two wide column" style="border-radius: 0px; border-left: 1px solid #ccc; padding-bottom: 30px">
				<div style="margin-top: 30%;">
					<div class="row">
						<button class="ui green button large" @click="addSomething()" style="width: 100%; font-size: 0.8em">Ajouter</button>
					</div>
					<div class="row">
						<button class="ui orange button large" @click="editSomething()" style="width: 100%; font-size: 0.8em">Editer</button>
					</div>
					<div class="row">
						<button class="ui red button" style="width: 100%; font-size: 0.8em" @click="deleteSomething()">Supprimer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import Vuex from 'vuex'
	import store from '../../store'

	export default {

		name: 'LDAP',

		data () {
			return {
				requestState: {"users": false, "directories": false},
				id_target_user: -1,
				id_target_organization_unit: -1,
				/* 0 = utilisateurs / 1 = organization unit */
				current_tab: 0,
				targeted_users: [],
				targeted_group: [],

			};
		},

		mounted: function() {
			var _this = this;

			$('.menu .item').tab();
			$('.menu .item').tab({'onVisible':function(tabPath){ tabPath == 'users' ? _this.current_tab = 0 : _this.current_tab = 1;}});

			this.getLDAPconfig();
		},

		methods: {
			...Vuex.mapActions(['get_LDAP_users', 'get_LDAP_OrganizationUnit', 'get_SFTP_usersInsharedDirectories', 'delete_LDAP_user']),

			target_user: function(index) {
				if (this.id_target_user == -1) {
					this.targeted_users[index].targeted = true;
					this.id_target_user = index;
				} else {
					this.targeted_users[this.id_target_user].targeted = false;
					this.targeted_users[index].targeted = true;
					this.id_target_user = index;
				};
			},

			target_directory: function(index) {
				if (this.id_target_organization_unit == -1) {
					this.targeted_group[index].targeted = true;
					this.id_target_organization_unit = index;
				} else {
					this.targeted_group[this.id_target_organization_unit].targeted = false;
					this.targeted_group[index].targeted = true;
					this.id_target_organization_unit = index;
				}
			},

			addSomething: function() {
				if (this.current_tab == 0) {
					this.$router.push({ name: 'ldap.adduser' });
				} else if (this.current_tab == 1) {
					this.$router.push({ name: 'ldap.addgroup' });

				}
			},

			editSomething: function() {
      console.log("pass");
      console.log(this.current_tab);
				if (this.current_tab == 0 && this.id_target_user != -1) {
					this.$router.push({ name: 'ldap.edituser', params: { "user": this.id_target_user } });
				} else if (this.current_tab == 1 && this.id_target_organization_unit != -1) {
					this.$router.push({name: 'ldap.editgroup', params : { "group": this.id_target_organization_unit } });
				}
			},

			deleteSomething: function() {
				if (this.current_tab == 0 && this.id_target_user != -1) {
					this.delete_user();
				} else if (this.current_tab == 1 && this.id_target_organization_unit != -1) {
					this.delete_ldap_group();
				}
			},

			delete_user: function() {

				this.requestState.users = false;

				this.delete_LDAP_user({"server": this.get_servers[this.$route.params.id], "user_dn": this.serverLDAP_Users[this.id_target_user].user_dn, "id_user": this.id_target_user}).then(response => {
					console.log(response);
					this.requestState.users = true;

				}, error => {
					console.log(error);
					this.requestState.users = true;

				})
			},

			delete_ldap_group: function() {
					this.requestState.directories = false;


				this.$http.post('ldap/group/delete', {"ip": this.get_servers[this.$route.params.id].ip, "group_dn": this.get_servers[this.$route.params.id].ldap_groups[this.id_target_organization_unit].groupname} ).then((response) => {
					this.requestState.directories = true;
					store.commit('DELETE_LDAP_GROUP', {"server": this.get_servers[this.$route.params.id], "id_group": this.id_target_organization_unit});

				},
				(response) => {
					console.log("ici", response);
					this.requestState.directories = true;
				});
			},

			getLDAPconfig: function() {
				this.requestState.users = false;
				this.requestState.directories =  false;

				if (!this.get_servers[this.$route.params.id].hasOwnProperty("ldap_users")) {

					this.get_LDAP_users( this.get_servers[this.$route.params.id] ).then(response => {
						console.log(response);
						for (var i = 0; i < response.body.response.length; i++) {
							this.targeted_users.push( {"targeted" : false});
						}
						this.requestState.users = true;

					}, error => {
						console.log("error getLDAPconfig get LDAP users", error);
						this.requestState.users = true;

					})
				}

				if (!this.get_servers[this.$route.params.id].hasOwnProperty("ldap_groups")) {

					this.get_LDAP_OrganizationUnit( this.get_servers[this.$route.params.id] ).then(response => {
						console.log(response);
						for (var i = 0; i < response.body.response.length; i++) {
							this.targeted_group.push( {"targeted" : false});
						};
						this.getSFTPusersIndirectories();


					}, error => {
						console.log("error getLDAPconfig get LDAP Groups", error);
						this.requestState.directories = true;
					})

				}

				if (this.get_servers[this.$route.params.id].hasOwnProperty("ldap_users")) {
					for (var i = 0; i < this.serverLDAP_Users.length; i++) {
						this.targeted_users.push( {"targeted" : false});
					}
					this.requestState.users = true;
				}


				if (this.get_servers[this.$route.params.id].hasOwnProperty("ldap_groups")) {
					for (var i = 0; i < this.serverLDAP_Groups.length; i++) {
						this.targeted_group.push( {"targeted" : false});
					}
					this.requestState.directories = true;
				}
			},

			getSFTPusersIndirectories: function() {

			}
		},

		computed: {
			...Vuex.mapGetters(['get_servers']),

			serverName: function() {
				this.get_servers[this.$route.params.id].hostname;
				return this.get_servers[this.$route.params.id].hostname;
			},

			serverLDAP_Users: function() {
				this.get_servers[this.$route.params.id].ldap_users;
				return this.get_servers[this.$route.params.id].ldap_users;
			},

			serverLDAP_Groups: function() {
				this.get_servers[this.$route.params.id].ldap_groups;
        console.log(this.get_servers[this.$route.params.id].ldap_groups);
				return this.get_servers[this.$route.params.id].hasOwnProperty("ldap_groups") ? this.get_servers[this.$route.params.id].ldap_groups : [];
			}
		}

	};
</script>

<style lang="css" scoped>
	.target_color {
		background-color: rgba(192,192,192, 0.5);
	}
</style>
