<template>
  <div class="ui segment">

    <div v-bind:class="{ 'active': requestState == false }" class="ui dimmer">
      <div class="ui indeterminate text loader">Preparing Files</div>
    </div>
    <p></p>

    <h1 style="padding-top: 20px; padding-bottom: 40px">
      Interfaces {{get_servers[$route.params.id].hostname}}
    </h1>
    <!--
    <div class="ui grid">
      <div class="four wide column left aligned">
      <router-link class="item" :to="{name: 'network.add' }"><button class="ui green button"><i class="add circle icon"></i>Add a new virtual interface</button></router-link>
      </div>
    </div>
  -->
  <table class="ui sortable celled table" id="tableInterface">
    <thead>
      <tr>
        <th class="sorted descending">Interface name</th>
        <th class="">Status</th>
        <th>IP address</th>
        <th>Physique/Virtual</th>
        <th>More info</th>
        <th>Reboot</th>
        <th>Boot</th>
        <th>Shutdown</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Add virtual interface</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(interface, index) in interfaces">
        <td v-bind:class="{ 'warning': interface.name.length == 0, 'positive': interface.name.length > 0}">{{interface.name}}</td>
        <td v-bind:class="{ 'warning': interface.status !== 'UP', 'positive': interface.status === 'UP' }"><i v-bind:class="{ 'big red arrow circle down icon': interface.status !== 'UP',  'green big arrow circle up icon': interface.status === 'UP' }" style="margin-left: 40%"></i></td>
        <td v-bind:class="{ 'warning': interface.ip.length == 0, 'positive': interface.ip.length > 0}">{{interface.ip || 'none'}}</td>
        <td v-if="interface.name.indexOf(':') !== -1">Virtual</td>
        <td v-else>Physique</td>
        <td><i class="big link info circle icon " style="margin-left: 40%" @click="detailsInterface(index, interface.name)"></i></td>
        <td><i class="big link refresh outline icon" style="margin-left: 35%" @click="rebootInterface(index, interface.name)"></i></td>
        <td><i class="big link power outline icon green" style="margin-left: 35%" @click="bootInterface(index, interface.name)"></i></td>
        <td><i class="big link power outline icon red" style="margin-left: 40%" @click="shutdown(index, interface.name)"></i></td>
        <td><i class="big link settings outline icon " style="margin-left: 35%" @click="editInterface(interface, index)"></i></td>
        <td v-if="interface.name.indexOf(':') !== -1 || interface.name === 'lo'"><i class="big link trash outline icon" style="margin-left: 35%" @click="delete_virtual_interface(index, interface.name)"></i></td>
        <td></td>
        <td v-if="interface.name.indexOf(':') === -1 && interface.name !== 'lo'"><router-link class="item" style="margin-left: 20%" :to="{name: 'network.add', params: {name: interface.name } }"><button class="ui green button"><i class="add circle icon"></i>Add</button></router-link></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>{{interfaces.length}} Interfaces</th>
        <th>{{getNumberStatusUp.length}} Available</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

      </tr>
    </tfoot>
  </table>
</div>
</template>

<script>

  import Vuex from 'vuex'
  import store from '../../store'

  export default {

    name: 'Network',

    data () {
      return {
        interfaces: [],
        requestState: false
      };
    },

    mounted: function () {
      this.requestState = false;
      $('#tableInterface').tablesort();
      this.getInterface();
    },

    methods: {
      getInterface() {
        this.requestState = false;
        this.interfaces = [];
        console.log(this.get_servers[this.$route.params.id].ip);
        this.$http.post('config/interfaces', {"ip": this.get_servers[this.$route.params.id].ip } ).then((response) => {
          console.log(response);
          this.interfaces = response.body.response;
          this.requestState = true;
        },
        (response) => {
          console.log("error getInterface - ", response);
          this.requestState = true;
        });
      },

      detailsInterface(index, nameInterface) {
        this.requestState = false;
        this.$http.post('config/interfaces/details', {"ip": this.get_servers[this.$route.params.id].ip, "name": nameInterface } ).then((response) => {
          this.requestState = true;
          console.log(response);
        },
        (response) => {
          console.log("error detailsInterface - ", response);
          this.requestState = true;
        });
      },

      editInterface(interface_info, index) {
        this.requestState = false;
        this.$http.post('config/interfaces/details', {"ip": this.get_servers[this.$route.params.id].ip, "name": interface_info.name } ).then((response) => {
          this.requestState = true;
          this.$router.push({ name: 'network.edit', params: {'interface': interface_info, 'info': response.body.response, 'server': this.get_servers[this.$route.params.id]}});
        },
        (response) => {
          console.log("error detailsInterface - ", response);
          this.requestState = true;
        });
      },

      rebootInterface(index, nameInterface) {
        this.requestState = false;
        this.$http.post('config/interfaces/reboot', {"ip": this.get_servers[this.$route.params.id].ip, "name": nameInterface } ).then((response) => {
          this.requestState = true;
        },
        (response) => {
          console.log("error rebootInterface - ", response);
          this.requestState = true;
        });
      },

      bootInterface(index, nameInterface) {
        this.requestState = false;
        this.$http.post('config/interfaces/powerup', {"ip": this.get_servers[this.$route.params.id].ip, "name": nameInterface } ).then((response) => {
          this.requestState = true;
        },
        (response) => {
          console.log("error bootInterface - ", response);
          this.requestState = true;
        });
      },

      checkTypeinterface(name) {
        substring = ":";
        console.log("pass");
        if (name.indexOf(substring) !== 1)
          return (true);
        return (false);
      },

      shutdown(index, nameInterface) {
        this.requestState = false;
        this.$http.post('config/interfaces/poweroff', {"ip": this.get_servers[this.$route.params.id].ip, "name": nameInterface } ).then((response) => {
          this.requestState = true;
        },
        (response) => {
          console.log("error shutdown - ", response);
          this.requestState = true;
        });
      },

      delete_virtual_interface(index, nameInterface) {
        this.requestState = false;
        this.$http.post('config/interfaces/delete', {"ip": this.get_servers[this.$route.params.id].ip, "name": nameInterface } ).then((response) => {
          console.log(response);
          this.interfaces.splice(index, 1);
          this.requestState = true;
        },
        (response) => {
          console.log("error delete - ", response);
          this.requestState = true;
        });
      }
    },

    computed: {
      ...Vuex.mapGetters(['get_servers']),

      getServerIP: function () {
        return this.get_servers[this.$route.params.id].ip;
      },

      getNumberStatusUp: function() {
        return this.interfaces.filter(inter => {
          if (inter.status === 'UP')
            return inter;
        });
      }
    },

  watch: {          // when route changes and this component is already rendered
    '$route' (to, from) {
      if (store.getters.get_servers == null || to.params.id >= store.getters.get_servers.length || store.getters.get_servers[to.params.id] == null)
        this.$router.push({name : 'home'});
      else  {
        this.getInterface();
      }
    }
  }

};
</script>

<style lang="css" scoped>
</style>
