<template>
<div class="ui segment">
	<div class="ui two column stackable centered grid container">
		<div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px">
			Edit {{this.$route.params.interface.name}} interface - {{this.$route.params.server.hostname}}
		</div>
		<form v-on:submit.stop.prevent="" class="ui form column" id="add_virtual_interface" style="padding-bottom: 50px">

			<div class="ui stacked secondary">
				<div class="required field">
					<label style="text-align: left">Name</label>
					<div class="ui left icon input">
						<i class="server icon"></i>
						<input type="text" name="name_interface" id="name_interface" v-model="name_interface" placeholder="name" disabled="disabled">
					</div>
				</div>

				<div class="required field">
					<label style="text-align: left">IP address</label>
					<div class="ui left icon input">
						<i class="server icon"></i>
						<input type="text" name="ipaddr_interface" id="ipaddr_interface" v-model="ipaddr_interface" placeholder="IP address">
					</div>
				</div>
				<div class="required field">
					<label style="text-align: left">Bootproto</label>
					<select class="ui fluid search dropdown" name="bootproto_interface" id="bootproto_interface" v-model="bootproto_interface">
						<option v-for="option in options_bootproto" v-bind:value="option.value">
							{{option.text}}
						</option>
					</select>
				</div>
			</div>
			<div class="ui divider" style="margin-top: 40px"></div>

			<div class="ui grid" style="padding-top: 30px;">
				<div class="six column row">
					<div class="column"></div>
					<button class="ui green button" v-bind:class="{ 'loading': loading, 'disabled': loading }">Save changes</button>
					<div class="column"></div>
					<div class="ui icon inverted orange button" data-tooltip="You can edit the IP address and the bootproto of your interface">
						<i id="helpMark" class="large question icon animated infinite bounce"></i>
					</div>
					<div class="column"></div>
					<router-link class="ui red button" :to="{name: 'network'}">Cancel</router-link>
					<div class="column"></div>
				</div>
			</div>
			<div class="ui error message"></div>

		</form>
	</div>
</div>
</template>

<script>
import Vuex from 'vuex'
import store from '../../store'

export default {

	name: 'Network_Edit',

	data () {
		return {
			loading: false,
			name_interface: this.$route.params.info.DEVICE.trim('\''),
			ipaddr_interface: this.$route.params.info.IPADDR.trim('\''),
			bootproto_interface : this.$route.params.info.BOOTPROTO.trim('\''),
			options_bootproto: [{text: "Static", value: "static"}, {text: "DHCP", value: "dhcp"}, {text: "NONE", value: "none"}],

		};
	},

	mounted: function() {
		var _this = this;
		console.log(this.$route.params.info.BOOTPROTO.trim('\''));

		$('#bootproto_interface').dropdown();

		$('#add_virtual_interface').form({
			fields: {
				name_interface: {
					rules: [
					{
						type   : 'empty',
						prompt : '{name} must have a value'
					}
					]
				},
				ipaddr_interface: {
					rules: [
					{
						type   : 'regExp[^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$]', // A APPROFONDIR
						prompt : 'Please type a correct {name}'
					}
					]
				},
				bootproto_interface: {
					rules: [
					{
						type   : 'empty',
						prompt : '{name} must have a value'
					}
					]
				},
			},

			onSuccess(event, field) {
				event.preventDefault();
				_this.add_virtual_interface();
			}
		})

	},

	methods: {
		add_virtual_interface: function() {
			this.loading = true;
			console.log({"ip": this.get_servers[this.$route.params.id].ip, "name": this.name_interface,
				"bootproto": this.bootproto_interface, "type": "vlan", "conf": { "IPADDR": this.ipaddr_interface } });

			this.$http.post('config/interfaces/add', {"ip": this.get_servers[this.$route.params.id].ip, "name": this.name_interface,
				"bootproto": this.bootproto_interface, "type": "vlan", "conf": { "IPADDR": this.ipaddr_interface } } ).then((response) => {
					console.log(response);
					this.loading = false;
					this.$router.push({name: 'network' });
				},

				(response) => {
					console.log("error add_virtual_interface - ", response);
					this.loading = false;
				});

			}
		},
		computed: {
			...Vuex.mapGetters(['get_servers'])

		},
	};
</script>

<style lang="css" scoped>
	#helpMark {
		-webkit-animation-delay: 1s;
		-webkit-animation-iteration-count: 6;
	}

</style>
