<template>
	<div>
		<!-- NETWORK GROUP IS USED TO FAKE THE MODIFICATION OF THE NETWORK PAGE -->
		<!-- ONLY CHILDREN IS DISPLAY -->
		<!-- THE ONLY GOAL IS TO KEEP CODE CLEAR -->
		<router-view></router-view>
	</div>
</template>

<script>
	export default {

		name: 'Network_Group',

		data () {
			return {

			};
		}
};
</script>

<style lang="css" scoped>
</style>