<template>
	<div class="ui segment">
		<div class="ui two column stackable centered grid container">
			<div class="ui horizontal divider" style="padding-top: 50px; padding-bottom: 50px">
				Nouveau Share
			</div>

			<form v-on:submit.stop.prevent="" class="ui form column" v-bind:class="{ 'loading': loading }" id="addnewsharesamba" style="padding-bottom: 50px">

				<div class="ui stacked secondary">
					<div class="required field">
						<label style="text-align: left">Name</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="smb_name" id="name" v-model="name" placeholder="Name">
						</div>
					</div>
					<div class="field">
						<label style="text-align: left">Path</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="smb_path" id="samba_path" v-model="samba_path" placeholder="Path">
						</div>
					</div>
					<div class="field">
						<label style="text-align: left">Valid users</label>
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input type="text" id="smb_valid_users" name="samba_valid_users" v-model="samba_valid_users" placeholder="@EXAMPLE\development, @EXAMPLE\research">
						</div>
					</div>

					<div class="required field">
						<label style="text-align: left">Comment</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="smb_comment" id="samba_comment" v-model="samba_comment" placeholder="Comment">
						</div>
					</div>

					<div class="field">
						<label style="text-align: left">Force group</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="smb_force_group" id="samba_force_group" v-model="samba_force_group" placeholder="domain users">
						</div>
					</div>

					<div class="field">
						<label style="text-align: left">Writable</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="smb_writable" id="samba_writable" v-model="samba_writable" placeholder="yes/no">
						</div>
					</div>
					<div class="field">
						<label style="text-align: left">Read Only</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="smb_read" id="samba_read" v-model="samba_read" placeholder="yes/no">
						</div>
					</div>
					<div class="field">
						<label style="text-align: left">Force create mode</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="smb_mode" id="samba_mode" v-model="samba_mode" placeholder="0660">
						</div>
					</div>
					<div class="field">
						<label style="text-align: left">Create mask</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="smb_create_mode" id="samba_create_mode" v-model="samba_create_mode" placeholder="0777">
						</div>
					</div>
					<div class="field">
						<label style="text-align: left">Directory mask</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="smb_directory_mask" id="samba_directory_mask" v-model="samba_directory_mask" placeholder="0660">
						</div>
					</div>
					<div class="field">
						<label style="text-align: left">Force directory mode</label>
						<div class="ui left icon input">
							<i class="server icon"></i>
							<input type="text" name="smb_directory_mode" id="samba_directory_mode" v-model="samba_directory_mode" placeholder="0660">
						</div>
					</div>
				</div>

				<div class="ui divider" style="margin-top: 40px"></div>

				<div class="ui grid" style="padding-top: 30px;">
					<div class="six column row">
						<div class="column"></div>
						<button class="ui green button" @click="">Save changes</button>
						<div class="column"></div>
						<div class="ui icon inverted orange button" data-tooltip="Explanation / Description here">
							<i id="helpMark" class="large question icon animated infinite bounce"></i>
						</div>
						<div class="column"></div>
						<router-link class="ui red button" :to="{name: 'samba', params: {id: $route.params.id}}">Cancel</router-link>
						<div class="column"></div>
					</div>
				</div>
				<div class="ui error message"></div>

			</form>

		</div>
	</div>
</template>


<script>

	import Vuex from 'vuex'
	import store from '../../store'

	export default {

		name: 'samba_addshare',

		data () {
			return {
				loading: false,
				'name_form': {
					rules: [{type   : 'empty',
					prompt : 'Veuillez remplir correctement le champs {name}'}]
				},

				name: "",
				samba_path: "",
				samba_valid_users: "",
				samba_comment: "",
				samba_force_group: "",
				samba_writable: "",
				samba_read: "",
				samba_path: "",
				samba_mode: "",
				samba_create_mode: "",
				samba_directory_mask: "",
				samba_directory_mode: "",
			};
		},

		methods: {
			...Vuex.mapActions(['get_samba_configuration', 'add_samba_share', 'update_samba_share', 'delete_samba_share']),

			initForm() {
				let _this = this;
				var fields = {
					fields: {
						name: this.name_form
					},

					onSuccess(event, field) {
						event.preventDefault();
						_this.addHost();
					}

				};

				$('#addnewsharesamba').form(fields);
			},

			addHost() {
				let share = {
					"name": this.name,
					"datas": {
						"comment": this.samba_comment,
					    "path": this.samba_path,
					    "valid users": this.samba_valid_users,
					    "force group": this.samba_force_group,
					    "writable": this.samba_writable,
					    "read only": this.samba_read,
					    "force create mode": this.samba_mode,
					    "create mask": this.samba_create_mode,
					    "directory mask": this.samba_directory_mask,
					    "force directory mode": this.samba_directory_mode
					}
				};

				this.loading = true;
				this.add_samba_share({'server': this.get_servers[this.$route.params.id], "share": share }).then(response => {
					this.loading = false;
					this.$router.push({ name: 'samba', params: {"id": this.$route.params.id}});
				}, error => {
					console.log(error);
					this.loading = false;
				});

			}

		},

		computed: {
			...Vuex.mapGetters(['get_servers'])
		},

		mounted: function() {
			this.initForm();

		}
	};
</script>

<style lang="css" scoped>

	#helpMark {
		-webkit-animation-delay: 1s;
		-webkit-animation-iteration-count: 6;
	}

	.custom_form {
		padding-bottom: 0px;
		padding-top: 0px;
		margin: 0 0 .28571429rem;
		font-size: .92857143em;
		font-weight: 700
	}
	.bounce-enter-active {
		animation: bounce-in .4s;
	}
	.bounce-leave-active {
		animation: bounce-out .4s;
	}
	@keyframes bounce-in {
		0% {
			transform: scale(0);
		}
		50% {
			transform: scale(1.2);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes bounce-out {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.2);
		}
		100% {
			transform: scale(0);
		}
	}
</style>