<template>
	<div class="ui segment">
		<div v-bind:class="{ 'active': requestState == false }" class="ui dimmer">
			<div class="ui indeterminate text loader">Fetching data</div>
		</div>
		<p></p>
		<div class="ui horizontal divider" style="padding-top: 2%">
			{{serverName}} | SAMBA CONFIGURATION
		</div>
		<div class="ui grid" style="padding-bottom: 20px; padding-top: 50px;">
			<div class="middle aligned three wide column">
				<h3>Liste des sections</h3>
			</div>
			<div class="middle aligned three wide column">
				<router-link class="item" :to="{name: 'samba.addshare' }"><button class="ui primary button"><i class="add circle icon"></i>Ajouter</button></router-link>
			</div>
		</div>
		<table class="ui sortable celled table" id="tableSection" style="margin-bottom: 50px">
			<thead>
				<tr>
					<th class="sorted descending">Nom de la section</th>
					<th>Editer</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(section, index) in get_servers[this.$route.params.id].samba_conf">
					<td v-if="section.name!='global'">{{ section.name }}</td>
					<td v-if="section.name!='global'"><router-link class="item" tag="span" :to="{name: 'samba.editshare', params : {id: $route.params.id, old_share_name: section.name, share: section }}"><i class="big link settings icon" style="margin-left: 44%"></i></router-link></td>
					<td v-if="section.name!='global'"><i class="big link trash outline icon" style="margin-left: 45%" @click="deleteSection(index,section.name)"></i></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</tfoot>
		</table>

	</div>
</template>

<script>

	import Vuex from 'vuex'

	export default {

		name: 'Samba',

		data () {
			return {
				requestState: false,
				baux: [],
			};
		},

		mounted: function() {
			this.getConfiguration();
		},

		methods: {
			...Vuex.mapActions(['get_samba_configuration', 'add_samba_share', 'update_samba_share', 'delete_samba_share']),

			getConfiguration() {
				if (!this.get_servers[this.$route.params.id].hasOwnProperty("samba_conf")) {
					this.requestState = false;
					this.get_samba_configuration({'server': this.get_servers[this.$route.params.id] }).then(response => {
						this.requestState = true;
					}, error => {
						console.log(error);
						this.requestState = true;
					})
				} else {
					this.requestState = true;
				}
				//this.linkLDAP();
			},

			deleteSection(index, share_name) {
				this.requestState = false;

				this.delete_samba_share({"server": this.get_servers[this.$route.params.id], "idx_share": index, "share_name": share_name}).then(response => {
					console.log(response);
					this.requestState = true;

				}, error => {
					this.requestState = true;

				});
			},

			linkLDAP() {
				let global_share = {
					"name": "global",
					"datas": {
						"workgroup": "WORKGROUP",
						"server string": "test server",
						"security": "user",
						"printing": "cups",
						"printcap name": "cups",
						"load printers": "yes",
						"cups options": "raw",
						"ldapsam:trusted": "yes",
						"idmap config* : backend": "tdb",
						"ldap suffix": "dc=eloryal,dc=fr",
						"passdb backend": "ldapsam:\"ldap://centosdevldap02.eloryal.fr/\"",
						"ldap admin dn": "cn=ldapadmin,dc=eloryal,dc=fr",
						"ldap ssl": "no",
						"ldap delete dn": "no",
						"server signing": "mandatory",
						"smb encrypt": "mandatory",
						"client min protocol": "smb3",
						"client max protocol": "smb3"
					}
				};
				let ldap_hostname = "";
				let ldap_ip = "";
				this.loading = true;
				this.update_samba_share({'server': this.get_servers[this.$route.params.id], "old_share_name": "global", "new_share": global_share }).then(response => {
					this.loading = false;
					this.$router.push({ name: 'samba', params: {"id": this.$route.params.id}});
				}, error => {
					console.log(error);
					this.loading = false;
				});
			}
		},

		computed: {
			...Vuex.mapGetters(['get_servers']),

			serverName: function() {
				this.get_servers[this.$route.params.id].hostname;
				return this.get_servers[this.$route.params.id].hostname;
			}
		}
	};
</script>

<style lang="css" scoped>
</style>